<article class="article-box app-login">
    <header class="article-box-header">
      <a href="#" class="app-header-logo-a app-header-logo-img"></a>
    </header>
    <div class="article-box-body">
      <div class="alert-box error" style="display: none">入力内容に誤りがあります。再度ご確認ください。</div>
      <div class="alert-box success" style="display: none">ログインできました</div>
      <div id="form">
        <label for="login_id">ユーザーID</label>
        <input type="text" class="input-text w100prc mgnb20-30 postdata" name="login_id" id="login_id"/>
        <label for="password">パスワード</label>
        <input type="password" class="input-text w100prc postdata" name="password" id="password"/>
      </div>
      <div class="form-btn-box">
        <div class="remember">
          <span>次回から自動でログインする</span>
          <label class="switch">
            <input type="checkbox" name="save_login" class="no-style" checked>
            <span class="slider round"></span>
          </label>
        </div>
        <button class="btn-login w100-50prc" id="login-btn">ログイン</button>
      </div>
      <li class="list-nomark-ul-li">
        <a href="{{ link.reminder }}" class="link-text">ID/パスワードをお忘れの方はこちら</a>
        <a href="{{ link.top }}" class="link-text">登録せずに利用を開始する</a>
      </li>
    </div>
</article>
