<article class="article-box pddb0 app-login-addition">
  <div class="article-box-body">
    <a href="{{link.regist}}" class="btn-default btn-white btnRegist">新規会員登録</a>
    <a href="{{link.loginTemporary}}" class="btn-default btn-white btnRegist">仮IDをお持ちの方</a>
    <li class="list-nomark-ul-li">
      <a href="{{ link.faqList }}" class="link-text">お問い合わせ</a>
    </li>
  </div>
</article>
