.reduce-space {
  padding-top: 50px;
}

.app-header-logo-img {
  display: block;
  vertical-align: middle;
  width: 125px;
  height: 45px;
  margin: 0 auto 20px;
}

.app-login {
  padding-bottom: 20px;
}

.app-login .article-box-header {
  padding-bottom: 10px;
}

.app-login .form-btn-box {
  margin-top: 10px;
  margin-bottom: 20px;
}

.app-login #form label {
  font-size: 15px;
  font-weight: 700;
}

.app-login #form input {
  margin-top: 8px;
  background-color: #eeeeee;
  border-color: #eeeeee;
}

.app-login .cm-toggle {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  border: 0;
  outline: 0;
  cursor: pointer;
  margin: 10px;
  display: inline-block;
  opacity: 1;
}

.app-login .cm-toggle:after {
  content: '';
  width: 50px;
  height: 28px;
  display: inline-block;
  background: rgba(196, 195, 195, 0.55);
  border-radius: 18px;
  clear: both;
}

.app-login .cm-toggle:before {
  content: '';
  width: 25px;
  height: 25px;
  display: block;
  position: absolute;
  left: 0;
  top: 1px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.app-login .cm-toggle:checked:before {
  left: 24px;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
}

.app-login .cm-toggle:checked:after {
  background: #4bda64;
}

.app-login .remember {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.app-login .remember span {
  color: gray;
  font-size: 15px;
}

.app-login .btn-login {
  background-color: #266ba8;
  color: white;
  display: block;
  padding: 7px 10px;
  border: none;
  outline: none;
  border-radius: 20px;
}

.app-login .list-nomark-ul-li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #cacaca;
}

.app-login .list-nomark-ul-li a {
  font-size: 14px;
}

.app-login .list-nomark-ul-li a:not(:last-of-type) {
  margin-bottom: 10px;
}

.app-login-addition {
  margin-bottom: 30px;
}

.app-login-addition .btnRegist {
  margin-bottom: 15px;
  font-size: 14px;
  padding: 4px 0;
  height: auto;
}

.app-login-addition .list-nomark-ul-li {
  display: flex;
  justify-content: center;
  font-size: 14px;
}
