<div id="corporateSeminar-wrapper" class="contents-box" style="display: none">
    <article class="article-box">
        <header class="article-box-header">
            <h2 class="article-box-header-h2">
                <span class="article-box-header-h2-jp">企業セミナー</span><br/>
            </h2>
        </header>
        <ul id="corporateSeminar" class="event-ul">
        </ul>
        <div class="live-seminar-more-box"><a href="{{link.eventList}}" class="live-seminar-more">more</a></div>
    </article>
</div>
