{{#extend "components/layout" title="マイページメニュー"}}
    {{#content "header-scripts" mode="append"}}
        <link rel="stylesheet" href="{{path}}css/swiper.css" type="text/css" media="all" />
    {{/content}}
    {{#content "main"}}
        <div class="contents-box">
            Beacon
        </div>
    {{/content}}
    {{#content "footer-scripts" mode="append"}}
        <script src="{{path}}js/beacon_checkin.js"></script>
        <script>
            _headerUIHandler(null, null, false);
        </script>
    {{/content}}
{{/extend}}
