{{#extend "components/layout" title="利用規約"}}
    {{#content "header-scripts" mode="append"}}
        <link rel="stylesheet" href="{{path}}css/login.css" type="text/css" media="all" />
        <link rel="stylesheet" href="{{path}}css/form.css" type="text/css" media="all" />
    {{/content}}
    {{#content "main"}}
        <div class="contents-box">
            <article class="article-box">
                {{#unless isApplican}}
                {{> components/pageTitle jpTitle='ダイヤモンド就活ナビ 利用規約' enTitle='TERMS and AGREEMENTS' }}
                {{/unless}}
                <div class="drop-shadow-box app-mt-30">
                    <div class="terms-box-scroll">
                        <section>
                            <div class="terms-box">
                                <p class="terms-dl-dt"><span>第1条 ダイヤモンド就活ナビ</span></p>
                                <p class="terms-dl-dd"><span>ダイヤモンド就活ナビ（以下「就活ナビ」といいます）とは株式会社ダイヤモンド・ヒューマンリソース（以下「当社」といいます）が就職活動の円滑化と採用活動の効率化、およびインターンシップやキャリア形成のための情報提供を目的（以下「本目的」といいます）として提供するインターネット上の就職情報提供サービス（https://shukatsu.jp/2022）（以下「本サービス」といいます）です。</span></p>
                                <p class="terms-dl-dt"><span>第2条 会員登録</span></p>
                                <dd class="terms-dl-dd">
                                    <p dir="ltr"><span>1．本サービスをご利用になるには、2022年卒業予定の就職活動を行う大学・大学院・短期大学・高等専門学校・専修学校および各種学校（海外の大学等を含みます）の学生または3年以内に大学等を卒業した既卒者で未就業の方（以下「既卒者」といいます）、もしくは、就職活動準備期間にある2022年卒業予定以外の学生（以下「準備学生」といいます）で、本利用規約をよく読んでその内容を全て承諾された上で、本サービスの登録画面の指示に従って会員登録を完了することが必要です（本サービスの会員登録を完了された方を以下「利用者」といいます）。</span></p>
                                    <p dir="ltr"><span>2．利用者は、登録した個人情報および活動情報等に対し、責任を負うものとします。登録情報の一部に誤りや文字化け等が起こった場合に、就活ナビ、および就活ナビを通じてなされる企業からの連絡が正しく受け取れないことがあることを予め了承したうえで、これによって利用者に生じた不利益に関しても当社は責任を負わないことを了承します。メールの受信設定および、誤った情報登録によりメールを受取れなかった際に生じる不利益も同様です。</span></p>
                                    <p dir="ltr"><span>3．利用者が本利用規約の画面にある「同意する」のボタンをクリックされた場合、当社は利用者が本利用規約の内容全てに同意したものとみなし、不承諾の意思表示は、会員登録を行わないことでのみ認められるものとします。</span></p>
                                    <p dir="ltr"><span>4. 利用者は自らの意思および責任をもって本サービスに登録するものとします。</span></p>
                                    <p dir="ltr"><span>5．利用者が既卒者及び、準備学生の場合、本サービスの一部のサービスを受けられない場合があることをあらかじめ了承します。</span></p>
                                    <p dir="ltr"><span>6. 利用者が登録された就活ナビの年度に就職活動を行わない場合には、就活ナビからの連絡により同意を得て、次の卒業年の就活ナビへ個人情報を移管することがあります。</span></p>
                                    <p dir="ltr"><span>7. 利用者の登録情報は、本サービスの提供期間（2020年4月1日〜2022年3月末日）終了後に当社にて適正に廃棄されます。なお、本人の同意をうけ次年度の就活ナビへ移管される個人情報はこの限りではありません。</span></p>
                                    <p dir="ltr"><span>8. 会員登録（本登録）時、もしくは、マイページにて、登録サイトを追加や変更することで、並行して運営される年度の異なるダイヤモンド就活ナビにも同じ登録情報、ID・パスワードでの使用が可能となります。</span></p>
                                </dd>
                                <p class="terms-dl-dt"><span>第3条 ID、パスワード、およびセキュリティ</span></p>
                                <dd class="terms-dl-dd">
                                    <p dir="ltr"><span>1．就活ナビIDを開設するには、利用者は自らの意志で個人情報登録を完全かつ正確におこない、会員登録の処理を完了しなければなりません。その後、パスワードを設定します。</span></p>
                                    <p dir="ltr"><span>2．利用者は、1メールアドレスに対し、1IDを設定することができるものとします。</span></p>
                                    <p dir="ltr"><span>3．利用者のIDとパスワードの機密保持に関する責任は利用者が負うものとします。さらに利用者がIDを用いて行う全ての活動に関する責任も利用者が負うものとします。</span></p>
                                    <p dir="ltr"><span>4．利用者は自己のIDとパスワードを他人に使用させることはできません。当社は、利用者があらかじめ設定したパスワードと個々の利用時に入力したパスワードとの一致を確認して取扱いした場合には、パスワード盗用その他利用者以外の者の利用につき一切の責任を負いません。</span></p>
                                    <p dir="ltr"><span>5．当社では、利用者と当社との間でのID・パスワードを含むすべての利用者情報に対して、SSL（Secure Socket Layer）テクノロジーによる暗号化を施す等して、合理的な範囲内でセキュリティの強化に努めます。但し、万一当社によるセキュリティ施策にもかかわらず、ハッカー等による不当な行為により、利用者および第三者に損害が生じた場合については、当社はその一切の責任を負わないものとします。</span></p>
                                </dd>
                                <p class="terms-dl-dt"><span>第4条 会員サービス</span></p>
                                <dd class="terms-dl-dd">
                                    <p dir="ltr"><span>1．本サービスの提供期間は2020年6月1日から2022年3月31日を予定していますが、一部のサービスについて、2020年4月1日から利用を認める場合があります。</span></p>
                                    <p dir="ltr"><span>2．本サービスの提供期間であっても、当社は本サービスの全部又は一部および関連するサービスの提供をいつでも、その理由および通知のいかんを問わず、直ちに停止又は終了することができます。当社が本サービスを終了した場合には、利用者の本サービスを使用する権利も終了します。また、その場合、当社は、利用者がIDとパスワードを入力することによりアクセスできる本サービスの専用ページ内にあるコンテンツを維持したり、未送信のメッセージを利用者又は第三者に再送する義務を負わないものとします。</span></p>
                                    <p dir="ltr"><span>3．本サービスの利用料金は不要ですが、本サービスにアクセスするための回線料金やプロバイダ費用等は全て利用者が負担するものとします。</span></p>
                                </dd>
                                <p class="terms-dl-dt"><span>第5条　禁止行為</span></p>
                                <dd class="terms-dl-dd">
                                    <p dir="ltr"><span>1．利用者は以下の行為をしてはならないものとします。</span></p>
                                    <p dir="ltr"><span>・本目的以外での本サービスの利用</span></p>
                                    <p dir="ltr"><span>・登録情報の全て、もしくは一部について自身以外の情報の登録を行う行為</span></p>
                                    <p dir="ltr"><span>・他人の著作権、商標権、肖像権その他の権利を侵害する行為もしくはそのおそれのある行為</span></p>
                                    <p dir="ltr"><span>・他人の財産、プライバシー等を侵害する行為もしくはそのおそれのある行為</span></p>
                                    <p dir="ltr"><span>・他人の名誉、信用を毀損しあるいは誹謗中傷する行為もしくはそのおそれのある行為</span></p>
                                    <p dir="ltr"><span>・わいせつ、賭博、暴力、残虐などの情報を発信する行為もしくはそのおそれのある行為</span></p>
                                    <p dir="ltr"><span>・ハラスメント、ストーカー行為、脅迫その他、法律に違反する行為もしくはそのおそれのある行為</span></p>
                                    <p dir="ltr"><span>・有害なコンピュータプログラム等を送信または書き込む行為</span></p>
                                    <p dir="ltr"><span>・公序良俗に反する行為、犯罪行為もしくは犯罪行為に結びつく行為</span></p>
                                    <p dir="ltr"><span>・本サービスを通じて入手した利用者および第三者の情報を、利用者以外の個人あるいは団体に対して、有償無償を問わず提供すること。但し、本利用規約に別段の定めがある場合はこの限りではありません。</span></p>
                                    <p dir="ltr"><span>・本サービスを利用して、営業活動、営利を目的とした情報提供活動をおこなうこと。</span></p>
                                    <p dir="ltr"><span>・本サービスの運営を妨げ、あるいは本サービスの信用を毀損するような行為、又はそのおそれのある行為</span></p>
                                    <p dir="ltr"><span>・その他、当社が不適切と判断した行為</span></p>
                                    <p dir="ltr"><span>当社は、利用者による本サービスの使用を監視し、もしくは使用のセッションの内容を保持する義務を負わないものとします。ただし、当社は法令、行政庁の監督、裁判所の命令等がある場合、又は訴訟その他の法的手続きに関して必要がある場合、自己又は第三者のために必要な情報を、いかなる時においても監視し、調査し、記録保存し、保有し、開示する権利を有します。</span></p>
                                </dd>
                                <p class="terms-dl-dt"><span>第6条 除名・退会</span></p>
                                <dd class="terms-dl-dd">
                                    <p dir="ltr"><span>1．当社は、利用者が本利用規約に違反した、もしくは、生命や身体的状況により利用継続が困難と判断した場合、一定期間ログインが見られない場合は、利用者に事前に通知することなく、本サービスの提供を中止し、利用者を会員登録から除名することができます。</span></p>
                                </dd>
                                <p class="terms-dl-dt"><span>第7条 技術利用について</span></p>
                                <dd class="terms-dl-dd">
                                    <p dir="ltr"><span>1．就活ナビは、利用者の利便性の向上、広告の配信、統計データの取得のため、Cookie、端末情報、ログ情報等を利用します。Cookie、JavaScript等の技術により、学校情報・志望情報・居住地域などの登録情報、閲覧したウェブページ、利用したアプリ、エントリーした企業、端末情報等や、就活ナビ内における利用者の行動履歴（閲覧したウェブページ、エントリーした企業等）を取得することがあります。収集した情報は、個人情報収集、情報解析、利用者の利便性向上の目的においてのみ利用し、当該目的以外には利用いたしません。</span></p>
                                    <p dir="ltr"><span>2．就活ナビは、サイトのアクセス解析を行うために、「Google Analytics」を利用しています。データの収集および処理方法に関しては、以下のグーグル株式会社の定めるプライバシーポリシーおよび同社が随時提供するその他の情報をご確認ください。</span></p>
                                    <p dir="ltr"><span>3．就活ナビの利用者に対する適切な広告、コンテンツを配信・表示することを目的とした「ターゲティング広告」「レコメンデーション」を提供するために、「GTM（Googleタグマネージャ）」及び「ＹＴＭ（ヤフータグマネージャー）を利用することがあります。これらの技術に関しては、以下の各社の定めるプライバシーポリシーをご確認ください。</span></p>
                                    <p dir="ltr"><span>https://www.google.com/intl/ja_jp/policies/</span></p>
                                    <p dir="ltr"><span>https://docs.yahoo.co.jp/docs/info/terms/chapter1.html#cf2nd/</span></p>
                                </dd>
                                <p class="terms-dl-dt"><span>第8条　免責／責任の制限</span></p>
                                <dd class="terms-dl-dd">
                                    <p dir="ltr"><span>1．本サービスに含まれ、又は本サービスにより入手可能な情報およびサービスには、間違いや誤植が含まれることがあります。当社および本サービスに情報を掲載する企業（以下「情報掲載企業」といいます。）はいつでも情報・サービスを変更または削除できるものとします。</span></p>
                                    <p dir="ltr"><span>2．当社は、本サービスにより入手可能なデータまたは情報が、正しいもの、正確なもの、時宜に適したもの、又は信頼性のあるものであることを表明もしくは保証するものではありません。会員は、提供情報の真実性、合法性、安全性、適切性、有用性、掲載期限等について、当社がなんら保証しないことを承諾のうえ、自己の責任において利用するものとします。当社は、提供情報の真実性、合法性、安全性、適切性、有用性、掲載期限等につき事前もしくは事後に調査する責任を負わず、かつこれらの事項により利用者に損害が発生しても一切損害賠償その他の責任を負わないものとします。</span></p>
                                    <p dir="ltr"><span>3．当社は、本サービスが本サービスの提供期間中、停止もしくは中断されないこと、エラーがないこと、瑕疵が修正されること、あるいは本サービスおよび本サービスを提供するサーバーにウィルスその他の有害な要素がないことを表明または保証するものではありません。</span></p>
                                    <p dir="ltr"><span>4．火災、停電、天変地変等の非常事態の他、戦争、内乱、暴動、労働争議等や法令に基づく措置によって、本サービスの提供が困難、または不能となった場合には、サービスを停止することがあります。</span></p>
                                    <p dir="ltr"><span>5. 通常のウィルス対策では防止できないウィルスによる被害が発生した場合には、当社は、一切責任を負わないものとします。当社は、ウィルスによる被害や不可抗力に起因して就活ナビにおけるデータが消去・変更されないことを保証するものではなく、利用者はデータを自己の責任において保存するものとします。</span></p>
                                    <p dir="ltr"><span>6. 理由のいかんを問わず、本サービスに関連してサーバーに蓄積されたデータ、情報もしくはメッセージなどの連絡事項が利用者または第三者に送信されず、あるいは適時に到達しない場合があることを利用者は予め承諾するものとします。当社は、上記データ、情報又は連絡事項が、正確なもの、時宜に適したもの、又は信頼性のあるものであること、並びにこれらが利用者又は第三者の要請に従って、常に送信されるものであることを表明もしくは保証するものではありません。当社は、上記データ、情報又は連絡事項の真実性、合法性、安全性、適切性、有用性、掲載期限等につき事前もしくは事後に調査する責任を負わず、かつこれらの事項により利用者に損害が発生しても一切損害賠償その他の責任を負わないものとします。</span></p>
                                    <p dir="ltr"><span>7. 当社は、本サービスの使用もしくは使用の結果利用者に損害が発生しても一切損害賠償その他の責任を負わないものとします。 消費者契約法その他の法律により、本条の免責事項が無効と判断された場合であっても、当社が負担すべき損害賠償の範囲は、本条に記載の事項が当社の責に帰すべき事由により発生した場合に利用者が被った直接損害に限られるものとします。</span></p>
                                    <p dir="ltr"><span>8．当社は、利用者による本サービスの利用における利用者のインターンシップおよび就職活動結果の確実性その他の効果・結果について一切保証しないものとします。</span></p>
                                </dd>
                                <p class="terms-dl-dt"><span>第9条 補償</span></p>
                                <dd class="terms-dl-dd">
                                    <p dir="ltr"><span>1．利用者は、利用者の故意又は過失による、本サービスの使用又は本サービス上の行為により生じた、第三者による請求、要求、又は第三者の被った損害について、当社、その親会社、子会社、関係会社、役員、および従業員を防御し、これにより生じた損害を補償するものとします(弁護士費用についての補償も含みます)。</span></p>
                                    <p dir="ltr"><span>2．利用者は、利用者の故意又は過失による本サービスの使用又は本サービス上の行為により、当社、その親会社、子会社、関係会社、役員、および従業員等に損害が生じた場合には、これにより生じた損害を補償するものとします(弁護士費用についての補償も含みます)。</span></p>
                                </dd>
                                <p class="terms-dl-dt"><span>第10条　提供された情報の当社による利用について</span></p>
                                <dd class="terms-dl-dd">
                                    <p dir="ltr"><span>1．本サービスに関連して利用者が、就活ナビ内に自ら提供した就職活動に関係する情報内容（以下「提供情報」という）は、利用者の事前の承諾なく、当社、当社の親会社、関係会社が提携または編集、発行もしくは発売するものに転載することができるものとします。また、この場合の提供情報の著作権(著作権法第27条及び28条に定める翻訳権、翻案権、二次的著作物に関する権利を含みます)は、当社に帰属するものとします。ただし、この際、当社は法律により認められている場合を除き、利用者の承諾なくして、当該利用者の氏名、住所、電話番号など個人を識別することのできる情報を開示しないものとします。個人情報の利用は、別途定める「個人情報の取得と個人情報の保護」に記載する目的に利用することができるものとします。</span></p>
                                </dd>
                                <p class="terms-dl-dt"><span>第11条　当社による利用者情報の利用について</span></p>
                                <dd class="terms-dl-dd">
                                    <p dir="ltr"><span>1．利用者は、志望業種・志望職種・志向・資格・経験・属性など本サービスに登録することにより提供した情報（以下「利用者情報」といいます）のうち、利用者個人の氏名、住所、電話番号及びEメールアドレスを匿名とし、利用者情報を情報掲載企業および大学へ当社が提供することに同意するものとします。</span></p>
                                    <p dir="ltr"><span>2．利用者は、登録を行った自身のメールアドレスへ当社および情報掲載企業からメッセージが着信することを了承するものとします。（登録完了していない方への登録促進に関するメッセージの送付も含みます。）</span></p>
                                    <p dir="ltr"><span>3．利用者は新卒紹介に関する情報、就職活動や社会人の準備、社会人のキャリアアップに役立つ無料の情報、就職活動やキャリアに関するアンケートなどのご案内、他個人情報の取得の目的に定める内容について、電子メール、電話、SMS、郵送等の手段により提供されることを了承するものとします。尚、ダイヤモンド就活ナビの就職状況調査、アンケート、就活相談や新卒紹介案内等の電話連絡は、※050-8880-1610から行われることがあります。</span></p>
                                    <p dir="ltr"><span>4．当社は、会員による就職活動によって得られる情報（会員によるインターンシップ・会社説明会・その他就職イベントへの参加などの就職活動のプロセスにおいて、当社に提供する情報。以下「就職活動関連情報」という）を保持します。</span></p>
                                    <p dir="ltr"><span>5．当社は登録情報および就職活動関連情報を、別途定める「個人情報の取得と個人情報の保護」に記載する目的に利用することができるものとします。</span></p>
                                </dd>
                                <p class="terms-dl-dt"><span>第12条　情報掲載企業への個人情報の開示について</span></p>
                                <dd class="terms-dl-dd">
                                    <p dir="ltr"><span>1．就活ナビよりエントリー、セミナー申し込み、およびセミナーでの参加登録（マイコード提示・読み込み、自己紹介カード提出）を行うと会員情報として登録されている下記の情報を該当の情報掲載企業及び就活ナビが主催・共催・後援する就職関連イベント事務局へ応募者データとして開示します。なお、プレサービス期間中3月1日以前に関しては、インターンシップ専用の応募者データとして開示し、採用活動を利用目的とした開示はしません。</span></p>
                                    <p dir="ltr"><span>・氏名（漢字）</span></p>
                                    <p dir="ltr"><span>・氏名（フリガナ）</span></p>
                                    <p dir="ltr"><span>・現住所郵便番号</span></p>
                                    <p dir="ltr"><span>・電話番号</span></p>
                                    <p dir="ltr"><span>・休暇中の郵便番号</span></p>
                                    <p dir="ltr"><span>・休暇中の住所</span></p>
                                    <p dir="ltr"><span>・休暇中の電話番号</span></p>
                                    <p dir="ltr"><span>・メールアドレス1、2</span></p>
                                    <p dir="ltr"><span>・学校・学部・学科・文理区分</span></p>
                                    <p dir="ltr"><span>・学部学科系統</span></p>
                                    <p dir="ltr"><span>・卒業年月</span></p>
                                    <p dir="ltr"><span>・入社希望年月</span></p>
                                    <p dir="ltr"><span>・資格情報</span></p>
                                    <p dir="ltr"><span>・申し込まれたセミナー日時情報</span></p>
                                    <p dir="ltr"><span>・参加登録されたセミナー日時情報</span></p>
                                    <p dir="ltr"><span>・企業エントリー日時</span></p>
                                    <p dir="ltr"><span>・企業インターンシップエントリー日時</span></p>
                                    <p dir="ltr"><span>・該当企業およびセミナー主催者からのメール送信履歴</span></p>
                                    <p dir="ltr"><span>2．開示された個人情報は、エントリー、セミナー申し込み後のインターンシップやイベント、採用活動の選考過程における連絡等の目的で各企業が管理します。当社は、当該企業の情報管理に関し、何ら責任を負わないことを利用者は了承するものとします。利用者は、管理される個人情報の取り扱いについては、各社に直接問い合わせるものとします。なお、情報掲載企業は、プレサービス期間（2020年6月1日〜2021年2月末日）については、インターンシップ選考活動の目的のみに利用し、本選考サービス期間（3月1日以降）については、採用活動の遂行目的にのみ利用するものとし、本人の同意がある場合を除き、その他の目的に利用できません。</span></p>
                                    <p dir="ltr"><span>3．ダイヤモンド就活ナビで告知される就職関連イベント主催者には下記のとおり各エリア編集部運営企業が含まれることを利用者は、了承するものとします。下記の各エリア編集部運営企業は、予告なく変更・追加されることがあり、利用者は、予めそれを了承するものとします。</span></p>
                                    <p dir="ltr"><span>北海道エリア&mdash;（有）エイチ・ビー・エヌ</span></p>
                                    <p dir="ltr"><span>山形エリア&mdash;山形新聞社</span></p>
                                    <p dir="ltr"><span>静岡エリア&mdash;静岡新聞社</span></p>
                                    <p dir="ltr"><span>岡山エリア&mdash;山陽新聞社</span></p>
                                    <p dir="ltr"><span>徳島エリア&mdash;徳島新聞社</span></p>
                                    <p dir="ltr"><span>香川エリア&mdash;四国新聞社</span></p>
                                    <p dir="ltr"><span>高知エリア&mdash;高知新聞社</span></p>
                                    <p dir="ltr"><span>4．利用者は、「ダイヤモンド就活ナビ」の会員に登録した時点で、電子メール、電話、SMS、郵送等の手段により同意を得るための連絡を受け取ることを了承したものとみなします 。</span></p>
                                </dd>
                                <p class="terms-dl-dt"><span>第13条　登録内容の変更及び退会</span></p>
                                <dd class="terms-dl-dd">
                                    <p dir="ltr"><span>1．利用者は、いつでも自由に自分の意思で本サービスの登録変更・退会画面を通じて、登録内容を変更･追加・及び会員登録を取消しできるものとします。また、退会後の登録情報の復元はできないことを承諾するものとします。</span></p>
                                </dd>
                                <p class="terms-dl-dt"><span>第14条　本利用規約の変更</span></p>
                                <dd class="terms-dl-dd">
                                    <p dir="ltr"><span>1．当社は本利用規約を随時変更することができるものとします。この場合、利用者には以後変更後の利用規約が適用されます。</span></p>
                                </dd>
                                <p class="terms-dl-dt"><span>第15条 専属合意管轄裁判所</span></p>
                                <dd class="terms-dl-dd">
                                    <p dir="ltr"><span>1．利用者と当社との間で訴訟の必要が生じた場合、東京地方裁判所を第一審の専属合意管轄裁判所とします。</span></p>
                                </dd>
                                <p class="terms-dl-dt"><span>第16条　反社会的勢力の排除</span></p>
                                <dd class="terms-dl-dd">
                                    <p dir="ltr"><span>1．利用者は、現在、暴力団、暴力団員、暴力団員でなくなった時から５年を経過しない者、暴力団準構成員、暴力団関係企業、総会屋等、社会運動等標ぼうゴロ、特殊知能暴力集団等、その他これらに準ずる者（以下これらを「暴力団員等」といいます。）に該当しないこと、および 、暴力団員等が経営を支配している、もしくは実質的に関与していると認められる関係を有すること、自己もしくは第三者の不正の利益を図る目的または第三者に損害を加える目的をもってするなど、不当に暴力団員等を利用していると認められる関係を有することはないと、現在から将来にもないと確約するものとします。</span></p>
                                    <p dir="ltr"><span>2. 暴力団員等に対しての資金等の提供や、便宜を供与するなどの関与をしていると認められる関係を有すること、役員または経営に実質的に関与している者が暴力団員等と社会的に非難されるべき関係を有することはない、と表明し、かつ将来にわたっても該当しないことを確約するものとします。</span></p>
                                    <p dir="ltr"><span>3．利用者は、自らまたは第三者を利用して暴力的な要求行為、法的な責任を超えた不当な要求行為、取引に関して、脅迫的な言動をし、または暴力を用いる行為、風説を流布し、偽計を用いまたは威力を用いて相手方の信用を毀損し、または相手方の業務を妨害する行為、その他前各号に準ずる行為に該当する行為を行わないことを確約するものとします。</span></p>
                                </dd>
                                <p class="terms-dl-dt"><span>第17条 第三者提供サービス</span></p>
                                <dd class="terms-dl-dd">
                                    <p dir="ltr"><span>1. 利用者が本サービスにおいて第三者提供サービスで使用可能なＩＤ等の情報を入力した場合には、当社は、第三者提供サービスから会員の情報を取得することができるものとし、会員は予めこれを承諾するものとします。会員が第三者提供サービスを利用したことにより何らかの損害を被った場合といえども、当社は、当社に重過失のない限り何ら責任を負いません。2．会員は、第三者提供サービスにかかる紛争等について、第三者提供サービスのサービス提供者との間で解決するものとします。</span></p>
                                </dd>
                                <p class="terms-dl-dt"><span>第18条　プライバシーポリシー</span></p>
                                <dd class="terms-dl-dd">
                                    <p dir="ltr"><span>当社は、就職情報提供事業を実施するに際し個人情報を取扱う企業として、個人のプライバシー保護を社会的責任であると考え、当社の顧客満足度を高める優先事項のひとつとして取り組んでいます。 当社の役員及び従業員は、個人情報保護方針に基づき、個人情報保護マネジメントシステムの実践に努め、個人情報の適切な取扱いに全力を尽くしていきます。</span></p>
                                    <p dir="ltr"><span>1) 当社の事業内容及び事業規模を考慮し、お客様・当社役職員の個人情報を適切に取得、利用いたします。特定された利用目的の達成に必要な範囲を超えた個人情報の取扱い（目的外利用）は行いません。また、目的外利用を行わないための措置を講じます。</span></p>
                                    <p dir="ltr"><span>2) 個人情報の取扱いに関する法令、国が定める指針その他の規範を尊重し、遵守します。</span></p>
                                    <p dir="ltr"><span>3) 個人情報の漏洩、滅失又は毀損の防止措置、是正処置を講じます。</span></p>
                                    <p dir="ltr"><span>4) 個人情報に関する苦情及び相談に、適切に対応します。</span></p>
                                    <p dir="ltr"><span>5) 個人情報を適正に取扱い、またその保護を徹底するために個人情報マネジメントシステムを継続的に改善してまいります。</span></p>
                                </dd>
                                <p dir="ltr"><span>株式会社ダイヤモンド・ヒューマンリソース</span></p>
                                <p dir="ltr"><span>〒112-0002　東京都文京区小石川5丁目5番5号　ユニゾ茗荷谷ビル6階</span></p>
                                <p dir="ltr"><span>個人情報管理についての問合せ先</span></p>
                                <p dir="ltr"><span>e-mail：info@diamondhr.co.jp</span></p>
                                <p><span><span><br /><br /></span></span></p>
                                <p class="terms-dl-dt"><span>第19条　付則</span></p>
                                <p dir="ltr"><span>この規約は大学等を2022年卒業予定の学生または3年以内の既卒者向け、就活準備学生向けサイトとして2020年4月1日から実施します。</span></p>
                                <p class="talr"><span>2020年4月1日作成</span></p>
                                <p class="talr"><span>2020年5月8日改訂</span></p>
                                <p><span><span>&nbsp;</span></span></p>
                                <p class="terms-dl-dt"><span>【メールアドレス登録上のご注意】</span></p>
                                <p dir="ltr"><span>間違ったメールアドレスを登録すると他人にメールマガジン等が配信される可能性がありますので、必ず自分のメールアドレスを正しくご登録ください。意図的に他人のメールアドレスを登録すると訴追の対象になる可能性もありますので、絶対にしないでください。</span></p>
                                <p dir="ltr"><span>個人情報の収集と個人情報の保護について</span></p>
                            </div>
                        </section>

                        <section class="mgnt30-50">
                            <header class="section-box-header">
                                <h3 class="section-box-header-h3">
                                    <span class="section-box-header-h3-jp">個人情報の収集と<span class="ilb">個人情報の保護について</span></span>
                                </h3>
                            </header>
                            <div class="terms-box">
                                <p class="terms-dl-dt"><span>【個人情報取得の目的について】</span></p>
                                <dd class="terms-dl-dd">
                                    <p dir="ltr"><span>この画面で登録した「あなたに関する個人情報」（以下「個人情報」といいます）は、就職情報の提供や社会人となるための準備活動の情報提供、インターンシップやキャリア形成のための情報提供、グループ会社であるダイヤモンド社からの案内（ニュースサイト、セミナー・イベント等の案内など。グループ会社に個人情報を提供することはありません。当社からの情報のご案内となります。）、その他本規約に従い、本サービスを当社が提供し、あなたが利用する上で必要な事項等のために使用し、それ以外の目的で使用することはありません。また、第三者に提供することはありません。</span></p>
                                </dd>
                                <p class="terms-dl-dt"><span>【個人情報の預託について】</span></p>
                                <dd class="terms-dl-dd">
                                    <p dir="ltr"><span>第三者（委託者除く）に提供することはありません。当社の業務を委託する場合は規定に従い契約を締結します。</span></p>
                                </dd>
                                <p class="terms-dl-dt"><span>【個人情報提供は任意です】</span></p>
                                <dd class="terms-dl-dd">
                                    <p dir="ltr"><span>各項目の記入はあくまでも任意ですが、記入漏れ・記入ミスがあった場合、就職情報の提供ができない場合があります。</span></p>
                                </dd>
                                <p class="terms-dl-dt"><span>【個人情報の開示・訂正・削除に関する告知】</span></p>
                                <dd class="terms-dl-dd">
                                    <p dir="ltr"><span>「個人情報」の内容について、個人情報相談窓口までお問い合わせいただければ、速やかに対応します。また、いつでも「個人情報」を削除し就職情報の提供を停止することが出来ます。画面上で削除手続きをして頂くか、個人情報相談窓口まで申し出て下さい。</span></p>
                                </dd>
                                <p class="terms-dl-dt"><span>【本件個人情報に関わる管理者並びにお問い合わせ先】</span></p>
                                <dd class="terms-dl-dd">
                                    <p dir="ltr"><span>東京都文京区小石川5丁目5番5号　ユニゾ茗荷谷ビル6階</span></p>
                                    <p dir="ltr"><span>株式会社ダイヤモンド・ヒューマンリソース</span></p>
                                </dd>
                                <dd class="terms-dl-dd">
                                    <p dir="ltr"><span>・個人情報保護管理者</span></p>
                                    <p dir="ltr"><span>総務局　PMS推進室　室長</span></p>
                                    <p dir="ltr"><span>電話:03-5319-2450</span></p>
                                </dd>
                                <dd class="terms-dl-dd">
                                    <p dir="ltr"><span>・個人情報相談窓口</span></p>
                                    <p dir="ltr"><span>電話:03-5319-2456</span></p>
                                    <p dir="ltr"><span>e-mail:info@diamondhr.co.jp</span></p>
                                </dd>
                            </div>
                        </section>
                    </div>
                </div>
            </article>
        </div>
    {{/content}}
    {{#content "footer-scripts" mode="append"}}
        <script>
            $(function(){
                _headerUIHandler();
            });
        </script>
    {{/content}}
{{/extend}}
