{{#extend "components/layout" title="SPI全国統一模擬試験"}}
    {{#content "header-scripts" mode="append"}}
        <link rel="stylesheet" href="{{path}}css/contents.css" type="text/css" media="all" />
    {{/content}}
    {{#content "main"}}
        <div class="contents-box">
            <!--  -->
            <article class="article-box">
                <header class="article-box-header">
                    <h2 class="article-box-header-h2">
                        <span class="article-box-header-h2-jp">SPI全国統一模擬試験</span>
                        <!-- <br /><span class="article-box-header-h2-eng"></span> -->
                    </h2>
                </header>
                <!--  -->
                <section class="drop-shadow-box">
                    <header class="section-box-header">
                        <h3 class="section-box-header-h3">
                            <span class="section-box-header-h3-jp">現在、開催中の試験は<span class="ilb">ありません。</span></span>
                        </h3>
                    </header>
                    <div class="talc">
                        <div class="fsz-m txt-blue">次回の開催予定：<span class="ilb">3月2日(月) 10:00〜</span></div>
                        開催日までしばらくお待ちください。
                        <span class="note-kome ilb tall">過去問へのチャレンジも3月2日(月) 10:00より可能です。</span>
                    </div>

                </section>
                <section class="drop-shadow-box mgnt30-50">
                    <header class="section-box-header">
                        <h3 class="section-box-header-h3">
                            <span class="section-box-header-h3-jp">試験スケジュール</span>
                        </h3>
                    </header>
                    <div class="contents-preface talc">
                        <div class="fsz-m">毎回、午前10:00にスタート<br />試験期間は1週間です。</div><br />
                        試験結果はテスト期間終了後、<span class="ilb">当ページ内で発表されます。 </span><br />
                        <span class="note-kome ilb tall">もちろん試験結果は本人のみ閲覧可能となります。</span>
                    </div>
                    <ul class="contents-ul">
                        <li class="contents-ul-li">
                            <div class="contents-ul-li-ttl">おためし<span class="ilb">チャレンジ</span></div>
                            <div class="contents-ul-li-prd">5月13日(月) ～ 5月20日(月)</div>
                            <div class="contents-ul-li-btn"><a href="#" class="btn-xsmall btn-disabled">過去問にチャレンジ</a></div>
                        </li>
                        <li class="contents-ul-li">
                            <div class="contents-ul-li-ttl">第1回</div>
                            <div class="contents-ul-li-prd">6月17日(月) ～ 6月24日(月)</div>
                            <div class="contents-ul-li-btn"><a href="#" class="btn-xsmall btn-disabled">過去問にチャレンジ</a></div>
                        </li>
                        <li class="contents-ul-li">
                            <div class="contents-ul-li-ttl">第2回</div>
                            <div class="contents-ul-li-prd">7月22日(月) ～ 7月29日(月)</div>
                            <div class="contents-ul-li-btn"><a href="#" class="btn-xsmall btn-disabled">過去問にチャレンジ</a></div>
                        </li>
                        <li class="contents-ul-li">
                            <div class="contents-ul-li-ttl">第3回</div>
                            <div class="contents-ul-li-prd">8月29日(木) ～ 9月5日(木)</div>
                            <div class="contents-ul-li-btn"><a href="#" class="btn-xsmall btn-disabled">過去問にチャレンジ</a></div>
                        </li>
                        <li class="contents-ul-li">
                            <div class="contents-ul-li-ttl">第4回</div>
                            <div class="contents-ul-li-prd">10月7日(月) ～ 10月14日(月)</div>
                            <div class="contents-ul-li-btn"><a href="#" class="btn-xsmall btn-disabled">過去問にチャレンジ</a></div>
                        </li>
                        <li class="contents-ul-li">
                            <div class="contents-ul-li-ttl">第5回</div>
                            <div class="contents-ul-li-prd">11月12日(火) ～ 11月19日(火)</div>
                            <div class="contents-ul-li-btn"><a href="#" class="btn-xsmall btn-disabled">過去問にチャレンジ</a></div>
                        </li>
                        <li class="contents-ul-li">
                            <div class="contents-ul-li-ttl">第6回</div>
                            <div class="contents-ul-li-prd">12月20日(金) ～ 12月27日(金)</div>
                            <div class="contents-ul-li-btn"><a href="#" class="btn-xsmall btn-disabled">過去問にチャレンジ</a></div>
                        </li>
                        <li class="contents-ul-li">
                            <div class="contents-ul-li-ttl">第7回</div>
                            <div class="contents-ul-li-prd">2月5日(水) ～ 2月12日(水)</div>
                            <div class="contents-ul-li-btn"><a href="#" class="btn-xsmall btn-disabled">過去問にチャレンジ</a></div>
                        </li>
                        <li class="contents-ul-li">
                            <div class="contents-ul-li-ttl">第8回</div>
                            <div class="contents-ul-li-prd">3月2日(月) ～ 3月9日(月)</div>
                            <div class="contents-ul-li-btn"><a class="btn-xsmall btn-disabled">次回</a></div>
                        </li>
                        <li class="contents-ul-li">
                            <div class="contents-ul-li-ttl">第9回</div>
                            <div class="contents-ul-li-prd">4月7日(火) ～ 4月14日(火)</div>
                            <div class="contents-ul-li-btn"></div>
                        </li>
                    </ul>
                </section>
                <div class="mgnt30-50">
                    <a href="CL6100.html" class="btn-default btn-gray w100-50prc">コンテンツ一覧に戻る</a>
                </div>

            </article>
        </div>
    {{/content}}
    {{#content "footer-scripts" mode="append"}}
        <script>
            $(function(){
                _headerUIHandler();
            });
        </script>
    {{/content}}
{{/extend}}
