{{#extend "components/layout" title="玉手箱 mini模擬試験"}}
    {{#content "header-scripts" mode="append"}}
        <link rel="stylesheet" href="{{path}}css/contents.css" type="text/css" media="all" />
    {{/content}}
    {{#content "main"}}
        <div class="contents-box">
            <!--  -->
            <article class="article-box">
                <header class="article-box-header">
                    <h2 class="article-box-header-h2">
                        <span class="article-box-header-h2-jp">玉手箱対策 mini模擬試験</span>
                        <!-- <br /><span class="article-box-header-h2-eng"></span> -->
                    </h2>
                </header>
                <div class="talc fsz-m">
                    採用試験には色々な種類があるのを知っていますか？<br />
                    「玉手箱」テストも多くの企業で使われています。<br />
                    さあ、まずはチャレンジ！！
                </div>
                <!--  -->
                <section class="drop-shadow-box mgnt30-50">
                    <header class="section-box-header">
                        <h3 class="section-box-header-h3">
                            <span class="section-box-header-h3-jp">現在、開催中の試験は<span class="ilb">ありません。</span></span>
                        </h3>
                    </header>
                    <div class="talc">
                        <div class="fsz-m txt-blue">次回の開催予定：<span class="ilb">3月12日(木) 10:00〜</span></div>
                        開催日までしばらくお待ちください。
                    </div>
                </section>
                <!--  -->
                <section class="drop-shadow-box mgnt30-50">
                    <header class="section-box-header">
                        <h3 class="section-box-header-h3">
                            <span class="section-box-header-h3-jp">試験に関する注意</span>
                        </h3>
                    </header>
                    <div>
                        <ul class="list-dot-ul">
                            <li class="list-dot-ul-li"><span class="txt-blue fsz-m">1つのテスト期間中につき１度しか受験ができません。</span>
                                <span class="note-kome ilb tall">最終ページの「終了」ボタンを押した場合、時間切れの場合が「１度の受験」とみなされます。</span>
                            </li>
                            <li class="list-dot-ul-li">順位の発表は試験期間終了後、当ページでご確認頂けます。</li>
                            <li class="list-dot-ul-li">推奨環境：InternetExplorer 8.0以上</li>
                            <li class="list-dot-ul-li">制限時間は全部で30分です。</li>
                            <li class="list-dot-ul-li">本コンテンツは、計数理解・言語理解で構成され、英語、性格のテストは含んでいません。
                                <div class="note-kome txt-blue">実際は、企業により問題数、制限時間が異なります。</div>
                                <div class="note-kome txt-blue">問題ページの「戻る」ボタンは、実際のテストにはない場合があります。</div>
                                <div class="note-kome txt-blue">ブラウザの「戻る」を使用しないでください。</div>
                            </li>
                            <li class="list-dot-ul-li">計数理解では、電卓や計算用紙を使用して構いません。</li>
                        </ul>
                    </div>
                </section>
                <section class="drop-shadow-box mgnt30-50">
                    <header class="section-box-header">
                        <h3 class="section-box-header-h3">
                            <span class="section-box-header-h3-jp">試験スケジュール</span>
                        </h3>
                    </header>
                    <div class="contents-preface talc">
                        <span class="note-kome ilb tall">開始、終了は全て午前10時になります。</span>
                    </div>
                    <ul class="contents-ul">
                        <li class="contents-ul-li">
                            <div class="contents-ul-li-ttl">おためし<span class="ilb">チャレンジ</span></div>
                            <div class="contents-ul-li-prd">5月27日(月) ～ 6月3日(月)</div>
                            <div class="contents-ul-li-btn"><!-- <a href="#" class="btn-xsmall btn-blue">過去問にチャレンジ</a> --></div>
                        </li>
                        <li class="contents-ul-li">
                            <div class="contents-ul-li-ttl">第1回</div>
                            <div class="contents-ul-li-prd">7月5日(金) ～ 7月12日(金)</div>
                            <div class="contents-ul-li-btn"><!-- <a href="#" class="btn-xsmall btn-blue">過去問にチャレンジ</a> --></div>
                        </li>
                        <li class="contents-ul-li">
                            <div class="contents-ul-li-ttl">第2回</div>
                            <div class="contents-ul-li-prd">8月19日(月) ～ 8月26日(月)</div>
                            <div class="contents-ul-li-btn"><!-- <a href="#" class="btn-xsmall btn-blue">過去問にチャレンジ</a> --></div>
                        </li>
                        <li class="contents-ul-li">
                            <div class="contents-ul-li-ttl">第3回</div>
                            <div class="contents-ul-li-prd">9月16日(月) ～ 9月23日(月)</div>
                            <div class="contents-ul-li-btn"><!-- <a href="#" class="btn-xsmall btn-blue">過去問にチャレンジ</a> --></div>
                        </li>
                        <li class="contents-ul-li">
                            <div class="contents-ul-li-ttl">第4回</div>
                            <div class="contents-ul-li-prd">10月23日(水) ～ 10月30日(水)</div>
                            <div class="contents-ul-li-btn"><!-- <a href="#" class="btn-xsmall btn-blue">過去問にチャレンジ</a> --></div>
                        </li>
                        <li class="contents-ul-li">
                            <div class="contents-ul-li-ttl">第5回</div>
                            <div class="contents-ul-li-prd">11月25日(月) ～ 12月2日(月)</div>
                            <div class="contents-ul-li-btn"><!-- <a href="#" class="btn-xsmall btn-blue">過去問にチャレンジ</a> --></div>
                        </li>
                        <li class="contents-ul-li">
                            <div class="contents-ul-li-ttl">第6回</div>
                            <div class="contents-ul-li-prd">1月10日(金) ～ 1月17日(金)</div>
                            <div class="contents-ul-li-btn"><!-- <a href="#" class="btn-xsmall btn-blue">過去問にチャレンジ</a> --></div>
                        </li>
                        <li class="contents-ul-li">
                            <div class="contents-ul-li-ttl">第7回</div>
                            <div class="contents-ul-li-prd">2月3日(月) ～ 2月10日(月)</div>
                            <div class="contents-ul-li-btn"><!-- <a href="#" class="btn-xsmall btn-blue">過去問にチャレンジ</a> --></div>
                        </li>
                        <li class="contents-ul-li">
                            <div class="contents-ul-li-ttl">第8回</div>
                            <div class="contents-ul-li-prd">3月12日(木) ～ 3月19日(木)</div>
                            <div class="contents-ul-li-btn"><a href="{{link.contentsTamatebako_test_3}}" class="btn-xsmall btn-green">受験する</a></div>
                        </li>
                        <li class="contents-ul-li">
                            <div class="contents-ul-li-ttl">第9回</div>
                            <div class="contents-ul-li-prd">4月13日(月) ～ 4月20日(月)</div>
                            <div class="contents-ul-li-btn"><a class="btn-xsmall btn-disabled">次回</a></div>
                        </li>
                    </ul>
                </section>
                <div class="mgnt30-50">
                    <a href="CL6100.html" class="btn-default btn-gray w100-50prc">コンテンツ一覧に戻る</a>
                </div>

            </article>
        </div>
    {{/content}}
    {{#content "footer-scripts" mode="append"}}
        <script>
            $(function(){
                _headerUIHandler(null, null, true);
            });
        </script>
    {{/content}}
{{/extend}}
