<header class="article-box-header">
  <h2 class="article-box-header-h2">
    <span class="article-box-header-h2-jp">{{jpTitle}}</span><br/>
    {{#if enTitle}} <span class="article-box-header-h2-eng">{{enTitle}}</span> {{/if}}
  </h2>
</header>
