<style>
    /* first open */
    .swiper-container {
        overflow-y: hidden;
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .swiper-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        transition-property: transform;
        box-sizing: content-box;
    }
    .swiper-slide {
        flex-shrink: 0;
        width: 100%;
        position: relative;
        transition-property: transform;
    }
    .swiper-pagination {
        position: absolute;
        text-align: center;
        transition: .3s opacity;
        transform: translate3d(0,0,0);
        z-index: 10;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 0;
        left: 0;
        width: 100%;
        background: white;
        height: 40px;
    }
    .swiper-pagination-bullet-active {
        opacity: 1 !important;
    }
    .swiper-pagination-bullet {
        margin-top: 15px !important;
        margin-left: 5px !important;
        width: 8px;
        height: 8px;
        display: inline-block;
        border-radius: 100%;
        background: #000;
        opacity: .2;
    }

    .swiper-button-next, .swiper-button-prev {
        position: absolute;
        top: 96%;
        width: auto;
        margin-top: auto;
        z-index: 999;
    }
    .swiper-button-next:after, .swiper-button-prev:after {
        letter-spacing: 0;
        text-transform: none;
        font-variant: initial;
    }
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
        border-right: unset;
        border-top: unset;
        transform: unset;
        height: 25px;
    }
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
        border-left: unset;
        border-top: unset;
        transform: unset;
        height: 25px;
    }

    /* image toturial */
    .img-tutorial {
        width: 100%;
        height: 100%;
    }
    /* tutorial modal */
    .swiper-button-next {
        color: #2d6ba9;
        font-weight: 600;
    }
    .swiper-button-prev {
        color: #a6a6a6;
    }
    .swiper-pagination-bullet-active {
        background: #2d6ba9;
    }
    /* iPhone X 375x812 */
    /* iPhone 5,6,7 375x667 */
    /* default is iPhone 6,7,8 */
    .iphone-x {
        display: none;
    }
    .iphone-678 {
        display: block;
    }
    /* iphone-X */
    @media only screen and (min-height: 684px) {
        .iphone-x {
            display: block;
        }
        .iphone-678 {
            display: none;
        }
    }
    .hidden {
        display: none;
    }

</style>
<div id="first-open-app" class="swiper-container swiper-tutorial" style="display: none">
    <div class="swiper-wrapper">
    </div>
    <!-- Add Arrows -->
    <div id="btn-next" class="swiper-button-next">次へ</div>
    <div id="btn-skip" class="swiper-button-next">開始</div>
    <div class="swiper-button-prev target-skip">スキップ</div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>
<script src="{{path}}js/tutorial.js"></script>
