<article class="article-box pddb0">
  <div class="drop-shadow-box">
    <div class="article-box-body">
      <ul class="list-nomark-ul block-centering mgnb30-50">
        <li class="list-nomark-ul-li"><a href="{{link.reminder}}" class="link-text">ID・パスワードをお忘れの方はこちら</a></li>
        <li class="list-nomark-ul-li"><a href="{{link.loginTemporary}}" class="link-text">仮IDをお持ちの方はこちら</a></li>
        <li class="list-nomark-ul-li"> ※学校のガイダンスカードやWEB共通登録で登録した方、登録ハガキを投函した方、他連携サービスで同時登録を希望した方が対象となります。</li>
        <li class="list-nomark-ul-li"><a href="{{link.regist}}" class="link-text">会員登録</a></li>
        <li class="list-nomark-ul-li"><a href="{{link.faqList}}" class="link-text">お問い合わせ</a></li>
      </ul>
    </div>
  </div>
</article>
