{{#extend "components/layout" title="仮ID確認"}}
    {{#content "header-scripts" mode="append"}}
        <style type="text/css">
            @media (min-width: 769px){
                .tbl-form th {
                    width: 200px;
                }
            }
        </style>
    {{/content}}
    {{#content "main"}}
        <!--  -->
        <div class="contents-box">
            <article class="article-box pddb0">
                <div class="drop-shadow-box">
                    <header class="article-box-header">
                        <h2 class="article-box-header-h2">
                            <span class="article-box-header-h2-jp">仮ID再発行</span>
                            <!-- <br /><span class="article-box-header-h2-eng"></span> -->
                        </h2>
                    </header>
                    <div class="article-box-body">
                        <div class="form-preface">ご入力いただいたメールアドレスに、仮IDを送信いたしました。<br />ご確認ください。</div>

                        <div class="form-btn-box">
                            <a href="/" class="btn-default btn-blue w100-50prc">トップへ戻る</a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    {{/content}}
    {{#content "footer-scripts" mode="append"}}
        <script>
            _headerUIHandler(null, null, null);
            $(function(){
            });
        </script>
    {{/content}}
{{/extend}}
