{{#extend "components/layout" title="ダイヤモンド就活ナビ2021：学生のための就職活動・採用情報サイト | 会員登録"}}
    {{#content "header-scripts" mode="append"}}
        <link rel="stylesheet" href="{{path}}css/login.css" type="text/css" media="all" />
        <link rel="stylesheet" href="{{path}}css/form.css" type="text/css" media="all" />
    {{/content}}
    {{#content "main"}}
        <!--  -->
        <div class="contents-box">
            <article class="article-box">
                <header class="article-box-header">
                    <h2 class="article-box-header-h2">
                        <span class="article-box-header-h2-jp">会員登録 内容確認</span><br />
                        <span class="article-box-header-h2-eng">REGISTRATION</span>
                    </h2>
                </header>
                <div class="form-preface registration-flow-box">
                    <div class="registration-flow">会員登録 1</div>
                    <div class="registration-flow-arr"></div>
                    <div class="registration-flow">会員登録 2</div>
                    <div class="registration-flow-arr"></div>
                    <div class="registration-flow registration-flow-current">内容確認</div>
                    <div class="registration-flow-arr"></div>
                    <div class="registration-flow">登録完了</div>
                </div>
                <section class="drop-shadow-box mgnt30-50">
                    <table class="tbl-form tbl-th-25prc">
                        <tr>
                            <th class="required">ユーザーID</th>
                            <td>worksjapan123</td>
                        </tr>
                        <!-- <tr>
                          <th class="required">パスワード</th>
                          <td>********</td>
                        </tr>
             -->            <tr>
                        <th class="required">姓名（漢字）</th>
                        <td>山田　太郎</td>
                    </tr>
                        <tr>
                            <th class="required">姓名（フリガナ）</th>
                            <td>ヤマダ　タロウ</td>
                        </tr>
                        <!-- <tr>
                          <th class="required">メールアドレス 1</th>
                          <td>shukatsu@worksjapan.com</td>
                        </tr>
                        <tr>
                          <th>メールアドレス 2</th>
                          <td></td>
                        </tr> -->
                    </table>
                </section>

                <section class="drop-shadow-box mgnt30-50">
                    <header class="section-box-header">
                        <h3 class="section-box-header-h3">
                            <span class="section-box-header-h3-jp">現住所</span>
                        </h3>
                    </header>
                    <table class="tbl-form tbl-th-25prc">
                        <tr>
                            <th class="required">郵便番号</th>
                            <td>000-0000</td>
                        </tr>
                        <tr>
                            <th class="required">都道府県</th>
                            <td>東京都</td>
                        </tr>
                        <tr>
                            <th class="required">市区町村</th>
                            <td>千代田区鍛冶町</td>
                        </tr>
                        <tr>
                            <th class="required">丁目・番地など</th>
                            <td>2丁目2-2</td>
                        </tr>
                        <tr>
                            <th>アパートやマンションの名称・部屋番号</th>
                            <td>神田パークプラザ</td>
                        </tr>
                        <tr>
                            <th class="required">電話番号 1</th>
                            <td>111-2222-3333<br />携帯電話</td>
                        </tr>
                        <tr>
                            <th>電話番号 2</th>
                            <td></td>
                        </tr>
                    </table>
                </section>

                <section class="drop-shadow-box mgnt30-50">
                    <header class="section-box-header">
                        <h3 class="section-box-header-h3">
                            <span class="section-box-header-h3-jp">休暇中の連絡先</span>
                        </h3>
                    </header>
                    <div class="emphasis-box mgnb20-30">
                        現住所と同じ
                    </div>
                    <table class="tbl-form tbl-th-25prc">
                        <tr>
                            <th class="required">郵便番号</th>
                            <td>000-0000</td>
                        </tr>
                        <tr>
                            <th class="required">都道府県</th>
                            <td>東京都</td>
                        </tr>
                        <tr>
                            <th class="required">市区町村</th>
                            <td>千代田区鍛冶町</td>
                        </tr>
                        <tr>
                            <th class="required">丁目・番地など</th>
                            <td>2丁目2-2</td>
                        </tr>
                        <tr>
                            <th class="required">アパートやマンションの名称・部屋番号</th>
                            <td>神田パークプラザ</td>
                        </tr>
                        <tr>
                            <th>電話番号</th>
                            <td>111-2222-3333<br />携帯電話</td>
                        </tr>
                    </table>
                </section>

                <section class="drop-shadow-box mgnt30-50">
                    <header class="section-box-header">
                        <h3 class="section-box-header-h3">
                            <span class="section-box-header-h3-jp">学校情報</span>
                        </h3>
                    </header>
                    <table class="tbl-form tbl-th-25prc">
                        <tr>
                            <th class="required">学校種別</th>
                            <td>大学</td>
                        </tr>
                        <tr>
                            <th class="required">学校名</th>
                            <td>××大学</td>
                        </tr>
                        <tr>
                            <th class="required">学部・研究科等</th>
                            <td>××学部</td>
                        </tr>
                        <tr>
                            <th class="required">学科・専攻等</th>
                            <td>××学科</td>
                        </tr>
                        <tr>
                            <th class="required">文系・理系区分</th>
                            <td>理系</td>
                        </tr>
                        <tr>
                            <th class="required">学部学科系統</th>
                            <td>生物・生命科学系</td>
                        </tr>
                        <!-- <tr>
                          <th class="required">卒業年月</th>
                          <td>2021 年 3 月
                          </td>
                        </tr>
                        <tr>
                          <th class="required">入社希望年月</th>
                          <td>2021 年 4 月</td>
                        </tr> -->
                    </table>
                </section>

                <!-- <section class="drop-shadow-box mgnt30-50">
                  <header class="section-box-header">
                    <h3 class="section-box-header-h3">
                      <span class="section-box-header-h3-jp">アンケート</span>
                    </h3>
                  </header>
                  <table class="tbl-form tbl-th-25prc">
                    <tr>
                      <th>企業紹介サービスの情報提供</th>
                      <td>受け取る</td>
                    </tr>
                    <tr>
                      <th>ダイヤモンド・ヒューマンリソース<span class="ilb">からの</span><span class="ilb">就職に</span><span class="ilb">役立つ</span><span class="ilb">情報の</span><span class="ilb">郵送</span></th>
                      <td>受け取る</td>
                    </tr>
                    <tr>
                      <th>内定期間中や社会人として<span class="ilb">知っておきたい</span><span class="ilb">役立つ</span><span class="ilb">お得情報</span></th>
                      <td>受け取る</td>
                    </tr>
                    <tr>
                      <th>ダイヤモンド・オンライン<span class="ilb">からの</span><span class="ilb">役立つ</span><span class="ilb">情報</span></th>
                      <td>受け取る</td>
                    </tr>
                    <tr>
                      <th>女子学生向け情報</th>
                      <td>受け取る</td>
                    </tr>
                    <tr>
                      <th>日本の大学に留学している方</th>
                      <td>日本の大学に留学している</td>
                    </tr>
                    <tr>
                      <th>ダイヤモンド就活ナビに会員登録<span class="ilb">された</span><span class="ilb">きっかけを</span><span class="ilb">教えてください</span></th>
                      <td class="label-columns">大学内で開催されたガイダンスに参加して</td>
                    </tr>
                  </table>
                </section> -->

                <section class="drop-shadow-box mgnt30-50">
                    <header class="section-box-header">
                        <h3 class="section-box-header-h3">
                            <span class="section-box-header-h3-jp">志望勤務地</span>
                        </h3>
                    </header>
                    <table class="tbl-form tbl-th-25prc">
                        <tr>
                            <th>志望勤務地</th>
                            <td>茨城県、栃木県、群馬県、埼玉県、千葉県、東京都、神奈川県</td>
                        </tr>
                    </table>
                </section>

                <section class="drop-shadow-box mgnt30-50">
                    <header class="section-box-header">
                        <h3 class="section-box-header-h3">
                            <span class="section-box-header-h3-jp">志望職種</span>
                        </h3>
                    </header>
                    <table class="tbl-form tbl-th-25prc">
                        <tr>
                            <th>事務・管理系</th>
                            <td class="label-columns">総務・業務</td>
                        </tr>
                        <tr>
                            <th>企画系</th>
                            <td class="label-columns">広報・宣伝、商品企画・プランニング、調査研究・マーケティング・データ分析、経営企画</td>
                        </tr>
                        <tr>
                            <th>営業系</th>
                            <td class="label-columns"></td>
                        </tr>
                        <tr>
                            <th>技術・研究系</th>
                            <td class="label-columns">機械・電機・電子機器設計、基礎研究、生産・製造技術開発、応用研究・技術開発、生産管理・品質管理・検査・保証、物流管理・在庫管理、建築土木設計・調査・測量・積算、施工管理</td>
                        </tr>
                        <tr>
                            <th>販売・サービス系</th>
                            <td class="label-columns"></td>
                        </tr>
                        <tr>
                            <th>専門系</th>
                            <td class="label-columns"></td>
                        </tr>
                        <tr>
                            <th>医療・福祉系</th>
                            <td class="label-columns"></td>
                        </tr>
                        <tr>
                            <th>金融系</th>
                            <td class="label-columns"></td>
                        </tr>
                        <tr>
                            <th>クリエイティブ系</th>
                            <td class="label-columns"></td>
                        </tr>
                        <tr>
                            <th>IT系</th>
                            <td class="label-columns"></td>
                        </tr>
                    </table>
                </section>

                <section class="drop-shadow-box mgnt30-50">
                    <header class="section-box-header">
                        <h3 class="section-box-header-h3">
                            <span class="section-box-header-h3-jp">志望業種</span>
                        </h3>
                    </header>
                    <table class="tbl-form tbl-th-25prc">
                        <tr>
                            <th>メーカー</th>
                            <td class="label-columns">農林・食品・水産、鉄鋼・金属・非鉄金属・鉱業、建設、住宅・リフォーム、インテリア・エクステリア・建材、繊維・アパレル・雑貨、紙・パルプ、化学、医薬品・化粧品、ガラス・ゴム・石油・セメント・セラミック、機械・プラント・エンジニアリング、電機・電子、OA関連・事務機器・文具、家電・AV機器・ゲーム機器、精密機器・医療機器、自動車・輸送機器、印刷、その他製造</td>
                        </tr>
                        <tr>
                            <th>商社</th>
                            <td class="label-columns"></td>
                        </tr>
                        <tr>
                            <th>金融・証券・保険</th>
                            <td class="label-columns"></td>
                        </tr>
                        <tr>
                            <th>広告・出版・マスコミ</th>
                            <td class="label-columns"></td>
                        </tr>
                        <tr>
                            <th>情報・インターネット</th>
                            <td class="label-columns">ソフトウェア・情報処理、通信、インターネット関連ビジネス、ゲームソフト</td>
                        </tr>
                        <tr>
                            <th>コンサル</th>
                            <td class="label-columns"></td>
                        </tr>
                        <tr>
                            <th>流通</th>
                            <td class="label-columns"></td>
                        </tr>
                        <tr>
                            <th>サービス</th>
                            <td class="label-columns"></td>
                        </tr>
                        <tr>
                            <th>官公庁・公社・団体</th>
                            <td class="label-columns"></td>
                        </tr>
                    </table>
                </section>

                <section class="drop-shadow-box mgnt30-50">
                    <header class="section-box-header">
                        <h3 class="section-box-header-h3">
                            <span class="section-box-header-h3-jp">保有資格</span>
                        </h3>
                    </header>
                    <table class="tbl-form tbl-th-25prc">
                        <tr>
                            <th>語学資格</th>
                            <td class="label-columns">TOEFL CBT250点以上(PBT600点以上、iBT100点以上)</td>
                        </tr>
                        <tr>
                            <th>日常会話レベル以上の外国語</th>
                            <td class="label-columns">英語</td>
                        </tr>
                        <tr>
                            <th>教職</th>
                            <td>教員免許取得予定</td>
                        </tr>
                        <tr>
                            <th>情報処理・コンピュータ・<span class="ilb">ネットワーク</span><span class="ilb">関連資格</span></th>
                            <td class="label-columns"></td>
                        </tr>
                        <tr>
                            <th>特殊技能</th>
                            <td class="label-columns">2級建築士、1級建築士、CAD利用技術者</td>
                        </tr>
                        <tr>
                            <th>その他</th>
                            <td class="label-columns">日商簿記1級、日商簿記2級、日本語能力試験N1（旧1級）、日本語能力試験N2（旧2級）、BATIC(国際会計)検定 Subject1(英文簿記)</td>
                        </tr>
                    </table>
                </section>
            </article>

            <article class="article-box">
                <div class="article-box-body">
                    <div class="singon-btn-box">
                        <a href="/mypage/top" class="btn-default btn-blue w100-50prc">修正</a>
                    </div>
                </div>
            </article>

        </div>
        <!-- modal -->
        <div id="modalScool" class="modal-outer">
            <div class="modal">
                <header class="modal-header">
                    <h2 class="modal-header-h2"><span class="modal-header-h2-jp">大学院・大学設定</span></h2>
                    <a href="javascript:void(0);" class="btn-modal-close" onclick="hideModal('modalScool');"></a>
                </header>
                <div class="modal-body">
                    <div class="modal-preface">学校種類と頭文字を選択すると大学名の選択肢が表示されます。</div>
                    <nav class="school-tabs">
                        <ul class="school-tabs-ul clearfix">
                            <li class="school-tabs-ul-li active"><a href="?index=&type=2">大学</a></li>
                            <li class="school-tabs-ul-li"><a href="?index=&type=1">大学院</a></li>
                            <li class="school-tabs-ul-li"><a href="?index=&type=4">高専</a></li>
                            <li class="school-tabs-ul-li"><a href="?index=&type=9">その他</a></li>
                        </ul>
                    </nav>

                    <div class="school-body clearfix">
                        <table class="tbl-school-first-letter">
                            <tr>
                                <td><a href="#">あ</a></td>
                                <td><a href="#">い</a></td>
                                <td><a href="#">う</a></td>
                                <td><a href="#">え</a></td>
                                <td><a href="#">お</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">か</a></td>
                                <td><a href="#">き</a></td>
                                <td><a href="#">く</a></td>
                                <td><a href="#">け</a></td>
                                <td><a href="#">こ</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">さ</a></td>
                                <td><a href="#">し</a></td>
                                <td><a href="#">す</a></td>
                                <td><a href="#">せ</a></td>
                                <td><a href="#">そ</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">た</a></td>
                                <td><a href="#">ち</a></td>
                                <td><a href="#">つ</a></td>
                                <td><a href="#">て</a></td>
                                <td><a href="#">と</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">な</a></td>
                                <td><a href="#">に</a></td>
                                <td>ぬ</td>
                                <td>ね</td>
                                <td><a href="#">の</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">は</a></td>
                                <td><a href="#">ひ</a></td>
                                <td><a href="#">ふ</a></td>
                                <td><a href="#">へ</a></td>
                                <td><a href="#">ほ</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">ま</a></td>
                                <td><a href="#">み</a></td>
                                <td><a href="#">む</a></td>
                                <td><a href="#e">め</a></td>
                                <td><a href="#">も</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">や</a></td>
                                <td>&nbsp;</td>
                                <td>ゆ</td>
                                <td>&nbsp;</td>
                                <td><a href="#">よ</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">ら</a></td>
                                <td><a href="#">り</a></td>
                                <td><a href="#">る</a></td>
                                <td><a href="#">れ</a></td>
                                <td>ろ</td>
                            </tr>
                            <tr>
                                <td><a href="#">わ</a></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </table>

                        <div class="school-list-box">
                            <ul class="school-list">
                                <li><a href="#">愛国学園大学</a></li>
                                <li><a href="#">愛知医科大学</a></li>
                                <li><a href="#">愛知学院大学</a></li>
                                <li><a href="#">愛知学泉大学</a></li>
                                <li><a href="#">愛知教育大学</a></li>
                                <li><a href="#">愛知県立看護大学</a></li>
                                <li><a href="#">愛知県立芸術大学</a></li>
                                <li><a href="#">愛知県立大学</a></li>
                                <li><a href="#">愛知工科大学</a></li>
                                <li><a href="#">愛知工業大学</a></li>
                                <li><a href="#">愛知産業大学</a></li>
                                <li><a href="#">愛知淑徳大学</a></li>
                                <li><a href="#">愛知新城大谷大学</a></li>
                                <li><a href="#">愛知大学</a></li>
                                <li><a href="#">愛知東邦大学</a></li>
                                <li><a href="#">愛知文教大学</a></li>
                                <li><a href="#">愛知みずほ大学</a></li>
                                <li><a href="#">会津大学</a></li>
                                <li><a href="#">藍野大学</a></li>
                                <li><a href="#">青森県立保健大学</a></li>
                                <li><a href="#">青森公立大学</a></li>
                                <li><a href="#">青森大学</a></li>
                                <li><a href="#">青森中央学院大学</a></li>
                                <li><a href="#">青山学院大学</a></li>
                                <li><a href="#">秋田看護福祉大学</a></li>
                                <li><a href="#">秋田県立大学</a></li>
                                <li><a href="#">秋田大学</a></li>
                                <li><a href="#">旭川医科大学</a></li>
                                <li><a href="#">旭川大学</a></li>
                                <li><a href="#">朝日大学</a></li>
                                <li><a href="#">麻布大学</a></li>
                                <li><a href="#">足利工業大学</a></li>
                                <li><a href="#">芦屋大学</a></li>
                                <li><a href="#">亜細亜大学</a></li>
                                <li><a href="#">跡見学園女子大学</a></li>
                            </ul>
                            <div class="school-other-box">
                                <p class="modal-preface">上に大学がない場合は、下欄にご入力ください</p>
                                <div class="clearfix">
                                    <input type="text" class="input-text input-text-btn-left" value=""  />
                                    <a href="javascript:void(0);" class="btn-default btn-right btn-blue">設定</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /modal-body -->
            </div>
        </div><!-- /modal-outer -->

        <div id="modalDept" class="modal-outer">
            <div class="modal">
                <header class="modal-header">
                    <h2 class="modal-header-h2"><span class="modal-header-h2-jp">学部設定</span></h2>
                    <a href="javascript:void(0);" class="btn-modal-close" onclick="hideModal('modalDept');"></a>
                </header>
                <div class="modal-body">
                    <div class="department-school-name">早稲田大学</div>
                    <div class="department-list-box">
                        <ul class="department-list-ul">
                            <li><a href="#">学部情報なし</a></li>
                            <li><a href="#">法学部</a></li>
                            <li><a href="#">政治経済学部</a></li>
                            <li><a href="#">商学部</a></li>
                            <li><a href="#">社会科学部</a></li>
                            <li><a href="#">文学部</a></li>
                            <li><a href="#">文化構想学部</a></li>
                            <li><a href="#">国際教養学部</a></li>
                            <li><a href="#">人間科学部</a></li>
                            <li><a href="#">教育学部</a></li>
                            <li><a href="#">スポーツ科学部</a></li>
                            <li><a href="#">基幹理工学部</a></li>
                            <li><a href="#">先進理工学部</a></li>
                            <li><a href="#">創造理工学部</a></li>
                        </ul>
                        <div class="department-other-box">
                            <p class="modal-preface">上に学部がない場合は、下欄にご入力ください</p>
                            <div class="clearfix">
                                <input type="text" class="input-text input-text-btn-left" value=""  />
                                <a href="javascript:void(0);" class="btn-default btn-right btn-blue">設定</a>
                            </div>
                        </div>
                    </div>
                </div><!-- /modal-body -->
            </div>
        </div><!-- /modal-outer -->

        <div id="modalCourse" class="modal-outer">
            <div class="modal">
                <header class="modal-header">
                    <h2 class="modal-header-h2"><span class="modal-header-h2-jp">学科設定</span></h2>
                    <a href="javascript:void(0);" class="btn-modal-close" onclick="hideModal('modalCourse');"></a>
                </header>
                <div class="modal-body">
                    <div class="department-school-name">早稲田大学 基幹理工学部</div>
                    <div class="department-list-box">
                        <ul class="department-list-ul">
                            <li><a href="#">学科情報なし</a></li>
                            <li><a href="#">機械科学・航空学科</a></li>
                            <li><a href="#">情報通信学科</a></li>
                            <li><a href="#">情報理工学科</a></li>
                            <li><a href="#">数学科</a></li>
                            <li><a href="#">電子光システム学科</a></li>
                            <li><a href="#">表現工学科</a></li>
                            <li><a href="#">応用数理学科</a></li>
                            <li><a href="#">電子物理システム学科</a></li>
                        </ul>
                        <div class="department-other-box">
                            <p class="modal-preface">上に学部がない場合は、下欄にご入力ください</p>
                            <div class="clearfix">
                                <input type="text" class="input-text input-text-btn-left" value=""  />
                                <a href="javascript:void(0);" class="btn-default btn-right btn-blue">設定</a>
                            </div>
                        </div>
                    </div>
                </div><!-- /modal-body -->
            </div>
        </div><!-- /modal-outer -->
    {{/content}}
    {{#content "footer-scripts" mode="append"}}
        <script>
            $(function(){

            });
        </script>
    {{/content}}
{{/extend}}
