{{#extend "components/layout" title="パスワード変更"}}
    {{#content "header-scripts" mode="append"}}
        <link rel="stylesheet" href="{{path}}css/login.css" type="text/css" media="all"/>
        <style type="text/css">
            @media (min-width: 769px) {
                .tbl-form th {
                    width: 220px;
                }
            }
        </style>
    {{/content}}
    {{#content "main"}}
        <!--  -->
        <div class="contents-box">
            <article class="article-box">
                <section class="drop-shadow-box">
                    <header class="article-box-header">
                        <h2 class="article-box-header-h2">
                            <span class="article-box-header-h2-jp">パスワード変更</span>
                            <!-- <br /><span class="article-box-header-h2-eng"></span> -->
                        </h2>
                    </header>
                    <div class="article-box-body">
                        <div class="form-preface">
                            「設定」ボタンをクリックして下さい。<br/>
                            パスワードに使える文字は、英数字のみです。<br/>
                            <span class="txt-reduired">＊</span>は必須項目です。
                        </div>
                        <div class="alert-box mgnt30-50 hidden">入力内容に誤りがあります。再度ご確認ください。</div>
                        <table class="tbl-form tbl-th-30prc">
                            <!-- <tr>
                              <th>ユーザID</th>
                              <td>ABCDEFGHI</td>
                            </tr> -->
                            <tr>
                                <th class="required">現在のパスワード</th>
                                <td>
                                    <input id="currentPass" type="password" class="input-text w100prc" placeholder="現在のパスワード"/>
                                </td>
                            </tr>
                            <tr>
                                <th class="required">新しいパスワード</th>
                                <td>
                                    <input id="newPass" type="password" class="input-text w100prc" placeholder="新しいパスワード"/>
                                </td>
                            </tr>
                            <tr>
                                <th class="required">新しいパスワード（確認）</th>
                                <td>
                                    <input id="newPassConfirm" type="password" class="input-text w100prc" placeholder="新しいパスワード（確認）"/>
                                </td>
                            </tr>
                        </table>
                        <div class="form-btn-box">
                            <a href="/mypage/reset_password/complete" id="confirm" class="btn-default btn-blue w100-50prc">設定</a>
                            <!--              <button id="login" class="btn-default btn-blue w100-50prc">設定</button>-->
                        </div>
                    </div>
                </section>
            </article>
        </div>
    {{/content}}
    {{#content "footer-scripts" mode="append"}}
        <script>
            _headerUIHandler(null, null, true);
            var contractTermId = globalInfo("contract_term_id");
            $(function () {
                var token = globalInfo('jwt_' + contractTermId);
                var id = globalInfo('id_' + contractTermId);
                var currentPass = '';
                var newPass = '';
                var newPassConfirm = '';

                $('#confirm').click(function (event) {
                    event.preventDefault();
                    currentPass = $('#currentPass').val();
                    newPass = $('#newPass').val();
                    newPassConfirm = $('#newPassConfirm').val();

                    var formData = {
                        'current_password': currentPass,
                        'password': newPass,
                        'password_confirmation': newPassConfirm
                    };

                    if (currentPass === '' || newPass === '' || newPassConfirm === '') {
                        event.preventDefault();
                        $('.alert-box').text('入力内容に誤りがあります。再度ご確認ください。').show();

                    } else if (newPass.length < 8) {
                        event.preventDefault();
                        $('.alert-box').text('入力内容に誤りがあります。再度ご確認ください。').show();

                    } else if (!/^[0-9a-zA-Z]+$/.test(newPass) || !/^[0-9a-zA-Z]+$/.test(newPass)) {
                        event.preventDefault();
                        $('.alert-box').text('パスワードは半角英数字で入力してください 。').show();
                    }
                    else if (newPass !== newPassConfirm) {
                        event.preventDefault();
                        $('.alert-box').text('パスワード（確認用）とパスワードの入力が一致しません').show();

                    } else {
                        $('.alert-box').hide();
                        $.ajax({
                            url: rootVariables.apiUrl + '/students/' + id + '/update_password',
                            dataType: 'json',
                            type: 'PUT',
                            headers: {
                                'Content-Type': 'application/json',
                                'Accept': 'application/json',
                                'Authorization': 'Bearer ' + token
                            },
                            data: JSON.stringify(formData),
                            success: function (data) {
                                console.log(data.message);
                                toLocationHref("/mypage/reset_password/complete");
                                //remove id and jwt when change password successfully
                                // var cookies = globalInfo();
                                // for (var cookie in cookies) {
                                //   removeGlobalInfo(cookie, {path: '/'});
                                // }

                                // Update cookie jwt
                                var contractTermId = globalInfo("contract_term_id");
                                globalInfo("jwt_" + contractTermId, data.jwt, {path: "/"});
                            },
                            error: function (jqXhr, textStatus, errorThrown) {
                                $('.alert-box').text(jqXhr.responseJSON.errors.message).show();
                            }
                        });
                    }
                });
            });
        </script>
    {{/content}}
{{/extend}}
