{{#extend "components/layout" title="ダイヤモンド就活ナビ2021：学生のための就職活動・採用情報サイト | パスワード変更"}}
    {{#content "header-scripts" mode="append"}}
        <link rel="stylesheet" href="{{path}}css/login.css" type="text/css" media="all" />
        <style type="text/css">
            @media (min-width: 769px){
                .tbl-form th {
                    width: 220px;
                }
            }
        </style>
    {{/content}}
    {{#content "main"}}
        <!--  -->
        <div class="contents-box">
            <article class="article-box">
                <section class="drop-shadow-box">
                    <header class="article-box-header">
                        <h2 class="article-box-header-h2">
                            <span class="article-box-header-h2-jp">パスワード変更</span>
                            <!-- <br /><span class="article-box-header-h2-eng"></span> -->
                        </h2>
                    </header>
                    <div class="article-box-body">
                        <div class="form-preface">
                            パスワードを変更しました。
                        </div>
                        <div class="form-btn-box">
                            <a href="/mypage/top" class="btn-default btn-blue w100-50prc">マイページへ戻る</a>
                        </div>
                    </div>
                </section>
            </article>
        </div>
    {{/content}}
    {{#content "footer-scripts" mode="append"}}
        <script>
            $(function(){
                _headerUIHandler(null, null, true);
            });
        </script>
    {{/content}}
{{/extend}}
