{{#extend "components/layout" title="ダイヤモンド就活ナビ2021：学生のための就職活動・採用情報サイト | 退会手続き"}}
    {{#content "header-scripts" mode="append"}}
        <link rel="stylesheet" href="{{path}}css/form.css" type="text/css" media="all"/>
        <link rel="stylesheet" href="{{path}}css/others.css" type="text/css" media="all"/>
    {{/content}}
    {{#content "main"}}
        <!--  -->
        <div class="contents-box">

            <article class="article-box" id="input_area">
                <header class="article-box-header">
                    <h2 class="article-box-header-h2">
                        <span class="article-box-header-h2-jp">退会手続き</span>
                        <!-- <br /><span class="article-box-header-h2-eng"></span> -->
                    </h2>
                </header>

                <!-- <div class="preface-outer-box">
                  <div class="preface-box">
                    <h4 class="preface-h4">退会する前に、以下ご確認ください。</h4>
                    <ul class="list-disc-ul">
                      <li class="list-disc-ul-li">マイページにある「予約済イベント」「エントリー済み企業」の閲覧ができなくなります。</li>
                      <li class="list-disc-ul-li">「企業マイページへログイン選択」機能をご利用の企業様へエントリーしていた場合、今後就活ナビ学生マイページからログインはできなくなります。</li>
                      <li class="list-disc-ul-li">なお、エントリー済み／イベント参加済みの企業からのemailへのメッセージは受け取ることができます。</li>
                      <li class="list-disc-ul-li">入社希望年月を変更することで、継続して次年度以降のインターンシップ・採用応募時期にサービスをご利用いただくことが可能です。</li>
                    </ul>
                  </div>
                </div> -->
                <section class="drop-shadow-box">
                    <div class="preface-outer-box">
                        <div class="preface-box preface-box-flexible">
                            退会する前に、以下ご確認ください。
                            <ul class="list-dot-ul mgnt10-15">
                                <li class="list-dot-ul-li">マイページにある「予約済イベント」「エントリー済み企業」の閲覧ができなくなります。</li>
                                <li class="list-dot-ul-li">「企業マイページへログイン連携」機能をご利用の企業様へエントリーしていた場合、今後就活ナビ学生マイページからログインはできなくなります。</li>
                                <li class="list-dot-ul-li">なお、エントリー済み/イベント参加済みの企業からのemailへのメッセージは受け取ることができます。</li>
                                <li class="list-dot-ul-li">登録サイトを変更することで、継続して次年度以降のインターンシップ・採用応募時期にサービスをご利用いただくことが可能です。</li>
                                <li class="list-dot-ul-li">複数の登録サイトを設定している場合に退会を行うと、すべての登録サイトから退会することになります。一方の登録サイトのみ退会を希望する場合は、マイページの会員情報／志望条件の編集にある「登録サイト」の項目で退会希望サイトのチェックを外してください。</li>
                            </ul>
                        </div>
                    </div>

                    <div class="alert-box mgnt10-15 mgnb10-15" style="display: none;">退会理由を選択してください。</div>

                    <table class="tbl-form tbl-th-30prc mgnt30-50">
                        <tr>
                            <th>ユーザーID</th>
                            <td><span id="login_id_display"></span>
                                <input type="hidden" id="login_id" name="login_id" class="postdata" value="">
                            </td>
                        </tr>
                        <tr>
                            <th>姓名（漢字）</th>
                            <td><span id="family_name"></span>&nbsp;&nbsp;<span id="given_name"></span></td>
                        </tr>
                        <tr>
                            <th class="required">退会理由をお聞かせください。</th>
                            <td>
                                <div class="select-box" id="leave_reason_wrap">
                                    <select class="form-select require postdata" name="leave_reason" id="leave_reason">
                                        <option value="">退会理由を選択</option>
                                        <option value="就職先が決定し就職活動を終了したため">就職先が決定し就職活動を終了したため</option>
                                        <option value="大学院などに進学することが決定したため">大学院などに進学することが決定したため</option>
                                        <option value="来年度就職活動することになったため">来年度就職活動することになったため</option>
                                        <option value="就活ナビに不満があるため">就活ナビに不満があるため</option>
                                        <option value="その他">その他</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="singon-btn-box mgnt30-50">
                        <a href="{{link.myPageTop}}" class="btn-default singon-btn-flex btn-gray btn-first">戻る</a>
                        <a href="javascript:void(0);" class="btn-default singon-btn-flex btn-blue" id="submit">退会</a>
                    </div>
                </section>
            </article>

            <article class="article-box" id="complete_area" style="display: none;">
                <header class="article-box-header">
                    <h2 class="article-box-header-h2">
                        <span class="article-box-header-h2-jp">退会手続き 完了</span>
                    </h2>
                </header>
                <section class="drop-shadow-box">
                    <div class="article-box-body">
                        <div class="form-preface">
                            退会手続きを承りました。<br/>
                            企業様が配信予約を行っている場合、一週間ほどメールが届くことがございますが、ご了承ください。<br/>
                            ご利用ありがとうございました。
                        </div>

                        <div class="form-btn-box">
                            <a href="/" class="btn-default btn-blue w100-50prc">トップへ戻る</a>
                        </div>
                    </div>
                </section>
            </article>

        </div>
    {{/content}}
    {{#content "footer-scripts" mode="append"}}
        <!-- page script -->
        <script>
            _headerUIHandler(null, null, true);
            $(document).ready(function () {
                // 会員情報を再取得
                userDataGet();

                function userDataGet() {
                    var contractTermId = globalInfo("contract_term_id");
                    var jwt = globalInfo('jwt_' + contractTermId);
                    var id = globalInfo('id_' + contractTermId);
//			console.log(jwt);
//			console.log(id);
                    $.ajax({
                        url: rootVariables.apiUrl + '/students/' + id + '/me',
                        type: 'get',
                        headers: {
                            'Authorization': 'Bearer ' + jwt,
                            'Content-Type': 'application/json'
                        },
                        success: function (data) {
                            userDataGetSuccess(data);
//					console.log(data);
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
//					console.log(errorThrown);
//					console.log(textStatus);
//					console.log(XMLHttpRequest);
                        }
                    });
                }

                // 情報取得成功 ユーザーID姓名挿入
                function userDataGetSuccess(data) {
                    $('#login_id_display').html(data['data']['login_id']);
                    $('#login_id').val(data['data']['login_id']);
                    $('#family_name').html(data['data']['family_name']);
                    $('#given_name').html(data['data']['given_name']);
                }


                // 退会ボタン押下処理
                $('#submit').on('click', function () {
                    requireCheck();
                });

                // 入力必須項目チェック
                function requireCheck() {
                    // チェック用変数宣言
                    if ($('#leave_reason').val() == '') {
                        // 未選択時エラー表記
                        $('.alert-box').fadeIn();
                    } else {
                        // 選択時エラー表記 削除、退会処理
                        $('.alert-box').hide();
                        withdrawal();
                    }
                }

                // 退会
                function withdrawal() {

                    var _isAgree = confirm('退会しても宜しいでしょうか？');
                    if(!_isAgree) return;

                    // 送信データ取得整形
                    var formSerial = $('.postdata').serializeArray();
                    var postData = formAdjust(formSerial);
                    postData = JSON.stringify(postData);
                    var contractTermId = globalInfo("contract_term_id");
                    var jwt = globalInfo('jwt_' + contractTermId);
                    var id = globalInfo('id_' + contractTermId);
//			console.log(postData);

                    $.ajax({
                        url: rootVariables.apiUrl + '/students/' + id + '/leave',
                        type: 'post',
                        dataType: 'json',
                        data: postData,
                        headers: {
                            'Authorization': 'Bearer ' + jwt,
                            'Content-Type': 'application/json'
                        },
                        success: function (data) {
                            withdrawalSuccess(data);
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            withdrawalSuccessError(XMLHttpRequest);
//					console.log(errorThrown);
//					console.log(textStatus);
//					console.log(XMLHttpRequest);
                        }
                    });

                }

                // 退会完了
                function withdrawalSuccess(data) {
                    $('#input_area').hide();
                    $('#complete_area').fadeIn();
                }

                // 退会失敗
                function withdrawalSuccessError(data) {
                    console.log('失敗');
                    console.log(data);
//			$('.alert-box').html('<p>'+errorMsg+'</p>').fadeIn();
                }

            });
        </script>
    {{/content}}
{{/extend}}
