{{#extend "components/layout" title="ダイヤモンド就活ナビ2021：学生のための就職活動・採用情報サイト | FAQ・お問い合わせ"}}
    {{#content "header-scripts" mode="append"}}
        <link rel="stylesheet" href="{{path}}css/others.css" type="text/css" media="all" />
    {{/content}}
    {{#content "main"}}
        <!--  -->
        <div class="contents-box">
            <article class="article-box">
                <header class="article-box-header">
                    <h2 class="article-box-header-h2">
                        <span class="article-box-header-h2-jp">FAQ・お問い合わせ</span><br />
                        <span class="article-box-header-h2-eng">FAQ</span>
                    </h2>
                </header>

                <section class="drop-shadow-box">
                    <div class="faq-box">
                        <div class="faq-category-box">
                            <h4 class="faq-category-h4">就活ナビの便利な使い方について</h4>
                            <ul class="list-faq-ul">
                                <li class="list-faq-ul-li"><a href="/faq/detail_3#q3-01">マイページでどんなことができますか？</a></li>
                                <li class="list-faq-ul-li"><a href="/faq/detail_3#q3-05">自己紹介カードを出力したい</a></li>
                                <li class="list-faq-ul-li"><a href="/faq/detail_3#q3-06">マイコードを表示したい</a></li>
                                <li class="list-faq-ul-li"><a href="/faq/detail_3#q3-07">イベントでの参加登録を行いたい</a></li>
                                <li class="list-faq-ul-li"><a href="/faq/detail_3#q3-08">複数のメールアドレスを登録したい</a></li>
                                <li class="list-faq-ul-li"><a href="/faq/detail_3#q3-09">メールの配信を停止したい</a></li>
                            </ul>
                        </div>
                    </div>
                </section>

                <section class="drop-shadow-box mgnt30-50">
                    <div class="faq-answer-box">
                        <span id="q3-01" class="anchor"></span>
                        <h5 class="faq-question-h5">マイページでどんなことができますか？</h5>
                        <div class="faq-answer-body">
                            マイページでは以下のことが可能です。<br/>
                            <ul class="list-dot-ul mgnt10">
                                <li class="list-dot-ul-li">予約イベント（企業／合同イベント）の確認・キャンセル</li>
                                <li class="list-dot-ul-li">エントリー済み企業（採用／インターンシップ）の確認</li>
                                <li class="list-dot-ul-li">会員情報／志望条件の編集</li>
                                <li class="list-dot-ul-li">メールアドレスの変更・配信停止</li>
                                <li class="list-dot-ul-li">パスワードの変更</li>
                                <li class="list-dot-ul-li">退会</li>
                                <li class="list-dot-ul-li">ログアウト</li>
                            </ul>
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q3-05" class="anchor"></span>
                        <h5 class="faq-question-h5">自己紹介カードを出力したい</h5>
                        <div class="faq-answer-body">
                            予約完了後、イベント詳細画面に「自己紹介カードを表示」というメニューが表示されます。<br>
                            そちらから自己紹介カードのページへリンクし、印刷を行ってください。<br>
                            <div class="note-kome">自己紹介カードの表示が許可されていないイベントでは、予約後も「自己紹介カードを表示」は表示されません。</div><br>
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q3-06" class="anchor"></span>
                        <h5 class="faq-question-h5">マイコードを表示したい</h5>
                        <div class="faq-answer-body">
                            就活ナビへログイン後、右上に表示される「マイコード」というアイコンを選択してください。
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q3-07" class="anchor"></span>
                        <h5 class="faq-question-h5">イベントでの参加登録を行いたい</h5>
                        <div class="faq-answer-body">
                            イベントへの参加登録は、各企業ごとに設置された端末へご自身のマイコードを読み込ませることで行えます。<br>
                            読取端末（スマートフォン）のカメラにご自身のマイコードを読み取らせ、「登録確認」という表示が出たらOKをタップしてください。<br>
                            <div class="note-kome">イベント会場にて分からないことがあれば、お近くの係員へお問い合わせください。</div>
                            <div class="note-kome">読み取り端末を設置していない企業では参加登録を受け付けておりません。あらかじめご了承ください。</div>
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q3-08" class="anchor"></span>
                        <h5 class="faq-question-h5">複数のメールアドレスを登録したい</h5>
                        <div class="faq-answer-body">
                            マイページ内「メールアドレスの変更・配信停止」からメールアドレスの登録・変更が行えます。<br>
                            メールアドレスは最大2つまで登録することが出来ます。<br>
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q3-09" class="anchor"></span>
                        <h5 class="faq-question-h5">メールの配信を停止したい</h5>
                        <div class="faq-answer-body">
                            マイページ内「メールアドレスの変更・配信停止」から、メールアドレスごとに配信する/しないを選択出来ます。<br>
                            配信しないを選択した場合、そのアドレス宛に送信されたメールは保存されずに破棄されます。<br>
                            企業からの重要なメールが届かない場合もありますので、ご注意ください。<br>
                            複数の登録サイトに設定されている場合、メールの配信停止設定はすべて登録サイトが対象となります。ご注意ください。<br />
                        </div>
                    </div>
                </section>
            </article>

        </div>
    {{/content}}
    {{#content "footer-scripts" mode="append"}}
        <script>
            $(function(){
                _headerUIHandler();
                replaceContractTerm2022();
            });
        </script>
    {{/content}}
{{/extend}}
