{{#extend "components/layout" title="ダイヤモンド就活ナビ2021：学生のための就職活動・採用情報サイト | FAQ・お問い合わせ"}}
    {{#content "header-scripts" mode="append"}}
        <link rel="stylesheet" href="{{path}}css/others.css" type="text/css" media="all" />
    {{/content}}
    {{#content "main"}}
        <!--  -->
        <div class="contents-box">
            <article class="article-box">
                <header class="article-box-header">
                    <h2 class="article-box-header-h2">
                        <span class="article-box-header-h2-jp">FAQ・お問い合わせ</span><br />
                        <span class="article-box-header-h2-eng">FAQ</span>
                    </h2>
                </header>

                <section class="drop-shadow-box">
                    <div class="faq-box">
                        <div class="faq-category-box">
                            <h4 class="faq-category-h4">SMSによるお知らせについて</h4>
                            <ul class="list-faq-ul">
                                <li class="list-faq-ul-li"><a href="{{faqDetail_6}}#q6-01">SMS（ショートメッセージサービス）によるお知らせについて</a></li>
                            </ul>
                        </div>
                    </div>
                </section>

                <section class="drop-shadow-box mgnt30-50">
                    <div class="faq-answer-box">
                        <span id="q6-01" class="anchor"></span>
                        <h5 class="faq-question-h5">SMS（ショートメッセージサービス）によるお知らせについて</h5>
                        <div class="faq-answer-body">
                            <div>
                                ダイヤモンド就活ナビからの大切なお知らせを確実にお伝えするため、ご登録いただいている携帯電話番号に「SMS（ショートメッセージサービス）」でご連絡させていただく場合があります。
                                <div class="note-kome">SMSとは電話番号宛に、短い文章を送信できるサービスで、NTTドコモ、ソフトバンクではSMS、auではCメールと呼ばれています。</div>
                            </div>
                            <div class="mgnt10-15">
                                <h6 class="faq-answer-header-h6">◎配信内容</h6>
                                <ul class="list-dot-ul mgnt10 mgnb10">
                                    <li class="list-dot-ul-li">本登録（パスワード登録）のご案内</li>
                                    <li class="list-dot-ul-li">イベントのご案内</li>
                                    <li class="list-dot-ul-li">アプリのご案内</li>
                                    <li class="list-dot-ul-li">その他</li>
                                </ul>
                                <div class="note-kome">個人情報やパスワードなどをSMSでお聞きすることはありません</div>
                            </div>

                            <div class="mgnt10-15">
                                <h6 class="faq-answer-header-h6">◎発信元の番号</h6>
                                NTTドコモ、auの場合　03-5319-2456<br />
                                softbankの場合　21053<br />
                                が表示されます。
                                <div class="note-kome">SMSの受信は無料です。</div>
                                <div class="note-kome">SMSには直接ご返信いただけません。</div>
                            </div>

                            <div class="mgnt10-15">
                                <h6 class="faq-answer-header-h6">◎SMSからの送信停止を希望される場合</h6>
                                就活ナビに登録したアドレスから<a href="mailto:shukatsu21_sms@shukatsu.jp">shukatsu21_sms@shukatsu.jp</a>あてに【SMS送信停止希望】【氏名（漢字フルネーム）】【携帯電話番号】を記載の上、送信してください
                            </div>
                        </div>
                    </div>


                    <div class="talc mgnt30-50">
                        <div class="mgnb20-30">問題が解決しない場合、お問合せ内容がFAQに無い場合は、</div>
                        <a href="{{contact}}" class="btn-default btn-blue w100-50prc">お問い合わせ</a>
                    </div>
                </section>
            </article>

        </div>
    {{/content}}
    {{#content "footer-scripts" mode="append"}}
        <script>
            $(function(){
                _headerUIHandler();
                replaceContractTerm2022();
            });
        </script>
    {{/content}}
{{/extend}}
