{{#extend "components/layout" title="プライバシーポリシー"}}
    {{#content "header-scripts" mode="append"}}
        <link rel="stylesheet" href="{{path}}css/login.css" type="text/css" media="all" />
        <link rel="stylesheet" href="{{path}}css/form.css" type="text/css" media="all" />
    {{/content}}
    {{#content "main"}}
        <!--  -->
        <div class="contents-box">
            <article class="article-box">
                <header class="article-box-header">
                    <h2 class="article-box-header-h2">
                        <span class="article-box-header-h2-jp">プライバシーポリシー</span><br />
                        <span class="article-box-header-h2-eng">PRIVACY POLICY</span>
                    </h2>
                </header>

                <div class="drop-shadow-box">

                    <section>
                        <dl class="terms-dl">
                            <dt class="terms-dl-dt">個人情報保護方針 （PRIVACY POLICY）</dt>
                            <dd class="terms-dl-dd">
                                　株式会社ダイヤモンド・ヒューマンリソースは、就職情報提供事業を実施するに際し個人情報を取扱う企業として、個人のプライバシー保護を社会的責任であると考え、弊社の顧客満足度を高める優先事項のひとつとして取り組んでおります。<br />
                                　当社の役員及び従業員は、個人情報保護方針に基づき、個人情報保護マネジメントシステムの実践に努め、個人情報の適切な取扱いに全力を尽くしてまいります。<br /><br />
                                <ol class="list-decimal-ol mgnt10-15 mgnb10-15">
                                    <li class="list-decimal-ol-li">当社の事業内容及び事業規模を考慮し、お客様・当社役職員の個人情報を適切に取得、利用および提供いたします。特定された利用目的の達成に必要な範囲を超えた個人情報の取扱い （目的外利用）は行いません。また、目的外利用を行わないための措置を講じます。</li>
                                    <li class="list-decimal-ol-li">個人情報の取扱いに関する法令、国が定める指針その他の規範を尊重し、遵守します。</li>
                                    <li class="list-decimal-ol-li">個人情報の漏洩、滅失又は毀損の防止措置、是正処置を講じます。</li>
                                    <li class="list-decimal-ol-li">個人情報に関する苦情及び相談に、適切に対応します。</li>
                                    <li class="list-decimal-ol-li">個人情報を適正に取扱い、またその保護を徹底するために個人情報マネジメントシステムを継続的に改善してまいります。</li>
                                </ol>
                                <div>
                                    制定日　平成15年3月17日<br />
                                    改定日　平成30年7月1日<br />
                                    株式会社ダイヤモンド・ヒューマンリソース<br />
                                    代表取締役社長　筒井　智之
                                </div>
                            </dd>

                            <dt class="terms-dl-dt">個人情報保護についてのお問合せ先</dt>
                            <dd class="terms-dl-dd">
                                株式会社ダイヤモンド・ヒューマンリソース　個人情報保護相談窓口<br />
                                TEL 03-5319-2456（平日 9:30～17:30）<br /><br />
                                上記以外のお時間のお問い合わせは、メールにてお願いいたします。<br />
                                Ｅ-Mail：<a href="mailto:info@diamondhr.co.jp">info@diamondhr.co.jp</a><br />
                                プライバシーマーク認定番号：第10860068(08)号
                                <div class="mgnt10-15">
                                    <a href="{{linkOrBrowser 'http://www.diamondhr.co.jp/privacy/privacy.html'}}" class="link-text" target="_blank">個人情報の取り扱いについて</a>
                                </div>
                            </dd>
                        </dl>
                    </section>

                </div>
            </article>
        </div>
    {{/content}}
    {{#content "footer-scripts" mode="append"}}
        <script>
            $(function(){
                _headerUIHandler();
            });
        </script>
    {{/content}}
{{/extend}}
