{{#extend "components/layout" hideHeader=true }}
    {{#content "header-scripts" mode="append"}}
        <link rel="stylesheet" href="{{path}}css/login.css" type="text/css" media="all"/>
        <style>
            #download-app {
                margin-top: 50px;
            }
            @media (max-width: 769px) {
                .logo-app-img {
                    width: 150px;
                }
            }
        </style>
    {{/content}}
    {{#content "main"}}

    <!-- header -->
    <header id="header" class="header-box header-box-pt1 clearfix">
        <div class="header-box-inner">
            <div class="header-logo-box">
        <span class="header-logo">
          <a href="#" class="header-logo-a"></a>
        </span>
                <span class="header-message">業界トップクラスの企業が参加するイベントを多数開催！<br />企業の『リアル』を知りたいなら、ダイヤモンド就活ナビへ</span>
            </div>
        </div>
    </header>

    <!-- main -->
    <div id="main" class="contents">

        <!--  -->
        <div class="contents-box">
            <div class="contents-preface header-message-sp">
                業界トップクラスの企業が参加する<span class="ilb">イベントを多数開催！</span><br/>企業の『リアル』を知りたいなら、<span class="ilb">ダイヤモンド就活ナビへ</span>
            </div>

            <article class="article-box">
                <div class="drop-shadow-box">
                    <header class="article-box-header">
                        <h2 class="article-box-header-h2">
                            <span class="article-box-header-h2-jp">2021年卒の方はこちら</span><br/>
                            <!-- <span class="article-box-header-h2-eng">LOGIN</span> -->
                        </h2>
                    </header>
                    <div class="article-box-body">
                        <div class="form-preface">3月から企業エントリーを受付開始！<br/>
                            2021年卒業予定の大学・大学院・短大・高専・専門学校の学生の方および既卒の方はこちらをご利用ください。
                        </div>
                        <div class="singon-btn-box">
                            <a href="/2021/regist" class="btn-default singon-btn-flex btn-blue js-btn-register-1">会員登録</a>
                            <a href="/2021" class="btn-default singon-btn-flex btn-white js-btn-no-register-1">登録せずに進む</a>
                        </div>
                    </div>

                    <article id="download-app" class="article-box pddb0">
                        <header class="app-box-header">
                            <h2 class="app-box-header-h2">公式アプリ（ダイヤモンド就活ナビ2021）をダウンロード！</h2>
                        </header>
                        <div class="app-logo-box">
                            <a href="https://itunes.apple.com/jp/app/ダイヤモンド就活ナビ2021/id1456341589?mt=8" target="_blank">
                                <img src="{{path}}img/logo-apple-app-store.png" class="logo-app-img" alt=""/>
                            </a>
                            <a href="https://play.google.com/store/apps/details?id=tokyo.eventos.diamondhr2021" target="_blank">
                                <img src="{{path}}img/logo-google-play.png" class="logo-app-img" alt=""/>
                            </a>
                        </div>
                    </article>
                </div>
            </article>

            <article class="article-box">
                <div class="drop-shadow-box">
                    <header class="article-box-header">
                        <h2 class="article-box-header-h2">
                            <span class="article-box-header-h2-jp">2022年卒の方はこちら</span><br/>
                            <!-- <span class="article-box-header-h2-eng">LOGIN</span> -->
                        </h2>
                    </header>
                    <div class="article-box-body">
                        <div class="form-preface">2022年以降に卒業予定の方はこちらから！豊富なインターンシップ関連の情報をはじめ、就活準備をサポートします。</div>
                        <div class="singon-btn-box">
                            <a href="/2022/regist" class="btn-default singon-btn-flex btn-blue js-btn-register-2">会員登録</a>
                            <a href="/2022/navi22/top" class="btn-default singon-btn-flex btn-white js-btn-no-register-2">登録せずに進む</a>
                        </div>
                    </div>
                </div>
            </article>


        </div>

    </div><!-- #main -->
    <!-- footer -->
    <footer id="footer" class="footer footer-pt1">
        <div class="footer-box">
            <div class="footer-top">
                <img src="{{path}}img/logo-dhr-01.gif" class="footer-logo-dhr-img" alt=""/>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="footer-copyright-inner">2019 Copyright(C)<span
                        class="ilb">&nbsp;DIAMOND HUMAN RESOURCE,INC.&nbsp;</span><span class="ilb">All Rights Reserved.</span>
            </div>
        </div>
    </footer>
    {{/content}}
    {{#content "footer-scripts" mode="append"}}
        <script>
            $(function () {
                $('.js-btn-register-1').on("click", function () {
                    globalInfo('contract_term_id', 1, {path: "/"});
                    globalInfo('contract_term', '2021', {path: "/"});
                    localStorage.setItem('contract_term', '2021');
                    setContractTerm(2011, 1);
                });
                $('.js-btn-register-2').on("click", function () {
                    globalInfo('contract_term_id', 2, {path: "/"});
                    globalInfo('contract_term', '2022', {path: "/"});
                    setContractTerm(2012, 2);
                });

                $('.js-btn-no-register-1').on('click', function (e) {
                    globalInfo('contract_term_id', 1, {path: "/"});
                    globalInfo('contract_term', '2021', {path: "/"});
                    setContractTerm(2011, 1);
                });

                $('.js-btn-no-register-2').on('click', function (e) {
                    globalInfo('contract_term_id', 2, {path: "/"});
                    globalInfo('contract_term', '2022', {path: "/"});
                    setContractTerm(2012, 2);
                });
            });
        </script>
    {{/content}}
{{/extend}}
