<div id="information" class="contents-box information-app">
  <!-- お知らせ -->
  <article class="article-box info-1-box">
    <header class="info-1-box-header">
      <h2 class="info-1-box-header-h2">Information</h2>
    </header>
    <ul class="info-1-ul">
      <li data-api="content_information" class="info-1-ul-li"></li>
    </ul>
  </article>
</div>
