<div class="login-content">
  <div class="contents-box">
    <div class="btn-login-bar">
      <a href="{{ link.loginUser }}" class="btn-default singon-btn-flex btn-white js-btn-no-register-1">新規会員登録</a>
      <a href="{{ link.regist }}" class="btn-default singon-btn-flex btn-blue js-btn-register-1">ログイン</a>
    </div>
    <article class="article-box">
      <li class="list-nomark-ul-li">
        <a href="{{ link.loginTemporary }}" class="link-text">仮IDをお持ちの方はこちら</a>
      </li>
      <div class="cnt-bnr-btn-box content-padding">
        学校のガイダンスカードやWEB共通登録で登録した方、登録ハガキを投函した方、他連携サービスで同時登録を希望した方
      </div>
    </article>
  </div>
</div>
