<div class="smart-checkin">
  <div class="contents-box">
    <div class="announce">
      <img src="{{path}}img/2022/checkin.png" alt="checkin">
      <div>
        <p>簡単！スムーズにイベント入場</p>
        <h1>スマートチェックイン</h1>
      </div>
    </div>
    <a class="redirect-btn" href="{{link.beacon}}">使い方を確認</a>
  </div>
</div>
